.clearfix {
    *zoom: 1
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px
}

.gray {
    color: #a2a2a2
}

.gray1 {
    color: #7c7b79
}

.black {
    color: #2b2b29
}

.yellow {
    color: #ff7600 !important
}

.blue_dotted {
    color: #1591d2;
    border-bottom: 1px dotted #1591d2;
    text-decoration: none
}

.blue_dotted:hover {
    border: 0
}

.txt-l {
    text-align: left
}

.txt-r {
    text-align: right
}

.txt-c {
    text-align: center
}

.va-t {
    vertical-align: top
}

.va-m {
    vertical-align: middle
}

.va-b {
    vertical-align: bottom
}

.va-bl {
    vertical-align: baseline
}

.vam {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    height: 100%;
    width: 1px;
    overflow: hidden
}

.vam-c {
    display: inline-block;
    *display: inline;
    vertical-align: middle
}

.m-c {
    margin: 0 auto
}

.fs11 {
    font-size: 11px;
    line-height: 14px
}

.fs12 {
    font-size: 12px;
    line-height: 15px
}

.fs14 {
    font-size: 14px;
    line-height: 17px
}

.fs16 {
    font-size: 16px;
    line-height: 20px
}

.fs18 {
    font-size: 18px;
    line-height: 22px
}

.fs20 {
    font-size: 20px;
    line-height: 25px
}

.fs21 {
    font-size: 21px;
    line-height: 25px
}

.fs24 {
    font-size: 24px;
    line-height: 30px
}

.fs26 {
    font-size: 26px;
    line-height: 30px
}

.fs30 {
    font-size: 30px;
    line-height: 35px
}

.fs37 {
    font-size: 37px;
    line-height: 40px
}

.fs50 {
    font-size: 50px;
    line-height: 55px
}

html {
    width: 100%;
    height: 100%;
    font-size: 100%
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font: 14px/20px Trebuchet MS, sans-serif;
    color: #696969;
    background: #fff url("../images/bg.jpg") 0 0
}

a {
    color: #04a9ff;
    text-decoration: underline
}

a:hover {
    text-decoration: none
}

a img {
    border: 0;
    vertical-align: top
}

:focus, a:active {
    outline: 0
}

h1 {
    margin: 0;
    padding: 0;
    line-height: 130%;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    font-family: Trebuchet MS, sans-serif;
    color: #2b2b2b
}

h2 {
    margin: 0;
    padding: 0;
    line-height: 130%;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    font-family: Trebuchet MS, sans-serif;
    color: #4b4b4b
}

h3 {
    margin: 0 0 15px;
    padding: 0;
    line-height: 130%;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    font-family: Trebuchet MS, sans-serif;
    color: #000
}

h4 {
    margin: 0;
    padding: 0;
    line-height: 130%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    font-family: Trebuchet MS, sans-serif;
    color: #2b2b2b
}

h5 {
    margin: 0;
    padding: 0;
    line-height: 130%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: Trebuchet MS, sans-serif;
    color: #2b2b2b
}

dl, dt, dd, form {
    margin: 0;
    padding: 0
}

hr {
    clear: both;
    height: 1px;
    margin: 15px 0;
    padding: 0;
    background: #dfdfdf;
    border: 0 none;
    color: #dfdfdf
}

p {
    margin: 0 0 15px;
    padding: 0
}

pre, code {
    display: block;
    margin: 1em 0;
    padding: 5px;
    overflow-x: auto;
    background-color: #fffaeb;
    border: 1px dashed #e54803;
    font-family: "Lucida Console", monospace
}

table {
    border-spacing: 0;
    border-collapse: inherit
}

table td {
    padding: 0;
    text-align: left;
    vertical-align: top
}

table.table {
    width: 100%;
    margin: 0 0 20px 0;
    background: #fff;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4)
}

table.table th {
    padding: 15px 20px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    border: 1px solid #56a64f;
    border-left: 1px solid #12690f;
    border-right: 1px solid #71b95f;
    background-color: #56a730;
    background-image: -moz-linear-gradient(top, #84b33d, #12951d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#84b33d), to(#12951d));
    background-image: -webkit-linear-gradient(top, #84b33d, #12951d);
    background-image: -o-linear-gradient(top, #84b33d, #12951d);
    background-image: linear-gradient(to bottom, #84b33d, #12951d);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff84b33d', endColorstr = '#ff12951d', GradientType = 0);
    -moz-text-shadow: 1px 1px 0 #227f17;
    -webkit-text-shadow: 1px 1px 0 #227f17;
    text-shadow: 1px 1px 0 #227f17
}

table.table th:first-child {
    border-left: 1px solid #56a64f;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0
}

table.table th:last-child {
    border-right: 1px solid #56a64f;
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0
}

table.table td {
    padding: 10px 20px;
    color: #696969;
    border: 1px solid transparent
}

table.table tr:nth-child(odd) td {
    background: #eee;
    border-top-color: #e7e7e7;
    border-bottom-color: #f5f5f5
}

ul, ol {
    margin: 0;
    padding: 10px 15px
}

.custom_ul {
    padding: 15px 0;
    font-size: 16px;
    list-style: none
}

.custom_ul li {
    margin: 0 0 10px;
    padding: 0 0 0 33px;
    background: url("../images/custom_ul.png") no-repeat left -51px;
    line-height: 19px
}

.custom_ul li ul {
    padding: 25px 0 7px
}

.custom_ul li ul li {
    margin: 0 0 8px 0;
    padding: 0 0 0 37px;
    list-style: none;
    line-height: 16px;
    background-position: -31px -19px;
    font-size: 14px;
    color: #a2a2a2
}

.accentuated {
    background: #fdf5b7
}

select {
    vertical-align: middle
}

input {
    margin: 0;
    vertical-align: middle
}

form :focus, form a:active {
    outline: 0
}

button {
    margin: 0;
    background: #b22222;
    border: 0;
    padding: 0
}

button span {
    display: block;
    padding: 10px 30px;
    background: #9acd32
}

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"]>input[type="button"]::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0
}

.img {
    display: block;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15)
}

.img.fl-r {
    margin: 0 0 10px 25px
}

.img.fl-l {
    margin: 0 25px 10px 0
}

table.crossed {
    width: 100%
}

table.crossed td.title {
    padding: 0 10px;
    color: #2b2b2b;
    font-style: italic;
    white-space: nowrap
}

table.crossed td.title var {
    font-size: 44px;
    color: #ff7f11
}

table.crossed td.left, table.crossed td.right {
    width: 50%;
    background: url("../images/crossed.png") no-repeat
}

table.crossed td.left {
    background-position: left center
}

table.crossed td.right {
    background-position: right center
}

.link {
    color: #04a9ff;
    border-bottom: 1px solid #ccedfd;
    text-decoration: none
}

.link:hover {
    border-bottom: 0
}

.row15 {
    position: relative;
    margin-left: -15px;
    *zoom: 1
}

.row15:before, .row15:after {
    display: table;
    content: "";
    line-height: 0
}

.row15:after {
    clear: both
}

.row15 [class*="span"] {
    float: left;
    margin-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.row15 .span2 {
    width: 467.5px
}

.row15 .span3 {
    width: 306.6666666666667px
}

.row15 .span4 {
    width: 226.25px
}

.row15 .span5 {
    width: 178px
}

.row15 .span6 {
    width: 145.83333333333334px
}

.row15 .span7 {
    width: 122.85714285714286px
}

.row15 .span8 {
    width: 105.625px
}

.row15 .span9 {
    width: 92.22222222222223px
}

.row15 .span10 {
    width: 81.5px
}

.row15 .span11 {
    width: 72.72727272727273px
}

.row15 .span12 {
    width: 65.41666666666667px
}

.row20 {
    position: relative;
    margin-left: -20px;
    *zoom: 1
}

.row20:before, .row20:after {
    display: table;
    content: "";
    line-height: 0
}

.row20:after {
    clear: both
}

.row20 [class*="span"] {
    float: left;
    margin-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.row20 .span2 {
    width: 465px
}

.row20 .span3 {
    width: 303.3333333333333px
}

.row20 .span4 {
    width: 222.5px
}

.row20 .span5 {
    width: 174px
}

.row20 .span6 {
    width: 141.66666666666666px
}

.row20 .span7 {
    width: 118.57142857142857px
}

.row20 .span8 {
    width: 101.25px
}

.row20 .span9 {
    width: 87.77777777777777px
}

.row20 .span10 {
    width: 77px
}

.row20 .span11 {
    width: 68.18181818181819px
}

.row20 .span12 {
    width: 60.833333333333336px
}

.row25 {
    position: relative;
    margin-left: -25px;
    *zoom: 1
}

.row25:before, .row25:after {
    display: table;
    content: "";
    line-height: 0
}

.row25:after {
    clear: both
}

.row25 [class*="span"] {
    float: left;
    margin-left: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.row25 .span2 {
    width: 462.5px
}

.row25 .span3 {
    width: 300px
}

.row25 .span4 {
    width: 218.75px
}

.row25 .span5 {
    width: 170px
}

.row25 .span6 {
    width: 137.5px
}

.row25 .span7 {
    width: 114.28571428571429px
}

.row25 .span8 {
    width: 96.875px
}

.row25 .span9 {
    width: 83.33333333333333px
}

.row25 .span10 {
    width: 72.5px
}

.row25 .span11 {
    width: 63.63636363636363px
}

.row25 .span12 {
    width: 56.25px
}

.row30 {
    position: relative;
    margin-left: -30px;
    *zoom: 1
}

.row30:before, .row30:after {
    display: table;
    content: "";
    line-height: 0
}

.row30:after {
    clear: both
}

.row30 [class*="span"] {
    float: left;
    margin-left: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.row30 .span2 {
    width: 460px
}

.row30 .span3 {
    width: 296.6666666666667px
}

.row30 .span4 {
    width: 215px
}

.row30 .span5 {
    width: 166px
}

.row30 .span6 {
    width: 133.33333333333334px
}

.row30 .span7 {
    width: 110px
}

.row30 .span8 {
    width: 92.5px
}

.row30 .span9 {
    width: 78.88888888888889px
}

.row30 .span10 {
    width: 68px
}

.row30 .span11 {
    width: 59.09090909090909px
}

.row30 .span12 {
    width: 51.666666666666664px
}

.row35 {
    position: relative;
    margin-left: -35px;
    *zoom: 1
}

.row35:before, .row35:after {
    display: table;
    content: "";
    line-height: 0
}

.row35:after {
    clear: both
}

.row35 [class*="span"] {
    float: left;
    margin-left: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.row35 .span2 {
    width: 457.5px
}

.row35 .span3 {
    width: 293.3333333333333px
}

.row35 .span4 {
    width: 211.25px
}

.row35 .span5 {
    width: 162px
}

.row35 .span6 {
    width: 129.16666666666666px
}

.row35 .span7 {
    width: 105.71428571428571px
}

.row35 .span8 {
    width: 88.125px
}

.row35 .span9 {
    width: 74.44444444444444px
}

.row35 .span10 {
    width: 63.5px
}

.row35 .span11 {
    width: 54.54545454545455px
}

.row35 .span12 {
    width: 47.083333333333336px
}

.width1 {
    width: 85px
}

.width2 {
    width: 100px
}

.width3 {
    width: 350px
}

.width4 {
    width: 560px
}

.dl {
    display: inline-block
}

.fl-l {
    float: left
}

.fl-r {
    float: right
}

.mt5 {
    margin-top: 5px !important
}

.mt10 {
    margin-top: 10px !important
}

.mt15 {
    margin-top: 15px !important
}

.mt20 {
    margin-top: 20px !important
}

.mt25 {
    margin-top: 25px !important
}

.mt30 {
    margin-top: 30px !important
}

.mt35 {
    margin-top: 35px !important
}

.mt40 {
    margin-top: 40px !important
}

.mt45 {
    margin-top: 45px !important
}

.mt50 {
    margin-top: 50px !important
}

.mb5 {
    margin-bottom: 5px !important
}

.mb10 {
    margin-bottom: 10px !important
}

.mb15 {
    margin-bottom: 15px !important
}

.mb20 {
    margin-bottom: 20px !important
}

.mb25 {
    margin-bottom: 25px !important
}

.mb30 {
    margin-bottom: 30px !important
}

.mb35 {
    margin-bottom: 35px !important
}

.mb40 {
    margin-bottom: 40px !important
}

.mb45 {
    margin-bottom: 45px !important
}

.mb50 {
    margin-bottom: 50px !important
}

.ml5 {
    margin-left: 5px !important
}

.ml10 {
    margin-left: 10px !important
}

.ml15 {
    margin-left: 15px !important
}

.ml20 {
    margin-left: 20px !important
}

.delimiter {
    position: relative;
    clear: both;
    height: 1px;
    font-size: 0;
    line-height: 1px;
    margin-right: 100px;
    background: url("../images/crossed.png") no-repeat 0 0
}

.delimiter div {
    position: absolute;
    right: -100px;
    top: 0;
    display: block;
    height: 1px;
    width: 100px;
    font-size: 0;
    line-height: 1px;
    background: url("../images/crossed.png") no-repeat right top
}

.yellow_block {
    position: relative;
    padding: 15px;
    background: #fff1a4;
    color: #424241;
    border: 1px solid #eadc90;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.yellow_block .yellow_block_arr1 {
    position: absolute;
    top: -26px
}

.yellow_block .yellow_block_arr2 {
    position: absolute;
    bottom: -26px
}

.yellow_block .block_close {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 11px;
    line-height: 12px;
    border-bottom: 1px dotted;
    cursor: pointer
}

.yellow_block .block_close:hover {
    border: 0
}

.tooltip {
    padding: 15px;
    background: #fff1a4;
    color: #424241;
    border: 1px solid #eadc90;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    padding: 4px 15px;
    font-size: 12px;
    line-height: 16px;
    color: #222;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px
}

.tooltip .yellow_block_arr1 {
    position: absolute;
    top: -26px
}

.tooltip .yellow_block_arr2 {
    position: absolute;
    bottom: -26px
}

.tooltip .block_close {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 11px;
    line-height: 12px;
    border-bottom: 1px dotted;
    cursor: pointer
}

.tooltip .block_close:hover {
    border: 0
}

.tooltip:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    height: 10px;
    width: 100%
}

.tooltip:before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -5px;
    display: block;
    height: 7px;
    width: 10px;
    background: url("../images/icons.png") no-repeat -105px -70px
}

.tooltip.bc:after {
    top: auto;
    bottom: -10px
}

.tooltip.bc:before {
    top: auto;
    bottom: -7px;
    background-position: -210px -70px
}

.box_border {
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    padding: 20px;
    background: #fff;
    border: 1px solid #f0f0f0
}

.box_border.gradient {
    background: #fff url("../images/box_border_gradient.png") repeat-x 0 0
}

.box_border .top_arr {
    position: absolute;
    top: -15px;
    right: 55px
}

.w860 {
    width: 860px;
    margin: 0 auto
}

.social-icons ul {
    margin-left: -10px;
    padding: 0;
    list-style: none;
    *zoom: 1
}

.social-icons ul:before, .social-icons ul:after {
    display: table;
    content: "";
    line-height: 0
}

.social-icons ul:after {
    clear: both
}

.social-icons ul li {
    float: left;
    margin-left: 10px
}

.social-ico {
    width: 16px;
    height: 16px;
    display: inline-block;
    *display: inline;
    background: url('../images/social_icons.png') no-repeat;
    background-position: 0 -16px
}

.social-ico.vk {
    background-position: 0 0
}

.social-ico.fb {
    background-position: -16px 0
}

.social-ico.tw {
    background-position: -32px 0
}

.social-ico.mm {
    background-position: -48px 0
}

.social-ico.ya {
    background-position: -64px 0
}

.social-ico.gp {
    background-position: -80px 0
}

.social-ico.od {
    background-position: -96px 0
}

.social-ico a {
    width: 100%;
    height: 100%;
    display: block
}

.header {
    position: relative;
    width: 100%;
    padding: 15px 0 25px 0;
    background: #fff
}

.header .header-after {
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 8px;
    background: url("../images/head_after.png") repeat-x 0 0
}

.header .logo {
    float: left;
    margin: 0 20px 0 0
}

.header .userbar {
    float: right;
    padding: 0 0 0 10px
}

.header .userbar .username, .header .userbar .settings, .header .userbar .logout {
    float: left;
    margin: 0 0 0 15px
}

.header .userbar .username, .header .userbar .settings {
    padding: 4px 0 0 0
}

.header .userbar .icons {
    margin: 0 3px 0 0;
    vertical-align: top
}

.header .userbar .icons.key {
    vertical-align: middle
}

.header .social_buttons {
    padding: 4px 0 0 0;
    float: right
}

.search_form {
    position: relative
}

.search_form input {
    position: relative;
    height: 28px;
    width: 140px;
    line-height: 28px;
    padding: 0 35px 0 11px;
    color: #a2a2a2;
    font-family: Trebuchet MS;
    border: 1px solid #ececec;
    -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.09);
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.09);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

.search_form input:-moz-placeholder {
    color: #dedede;
    font-style: italic;
    font-size: 13px
}

.search_form input:-ms-input-placeholder {
    color: #dedede;
    font-style: italic;
    font-size: 13px
}

.search_form input::-webkit-input-placeholder {
    color: #dedede;
    font-style: italic;
    font-size: 13px
}

.search_form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: 32px;
    background: 0;
    cursor: pointer;
    border: 0
}

.search_form button .icons {
    vertical-align: middle
}

.main_menu {
    *zoom: 1;
    padding: 3px 0 0 0;
    float: left
}

.main_menu:before, .main_menu:after {
    display: table;
    content: "";
    line-height: 0
}

.main_menu:after {
    clear: both
}

.main_menu li {
    float: left;
    margin-right: 35px;
    list-style: none
}

.main_menu li a {
    color: #a2a2a2;
    text-decoration: none;
    font-size: 15px
}

.main_menu li a:hover {
    color: #737373;
    text-decoration: underline
}

.icons {
    display: inline-block;
    background: url("../images/icons.png") no-repeat 0 0
}

.icons.icon_user {
    height: 20px;
    width: 21px;
    background-position: 0 0
}

.icons.icon_settings {
    height: 23px;
    width: 22px;
    background-position: 0 -35px
}

.icons.icon_photo {
    height: 18px;
    width: 22px;
    background-position: 0 -70px
}

.icons.icon_search {
    height: 18px;
    width: 16px;
    background-position: 0 -105px
}

.icons.icon_edit {
    height: 19px;
    width: 19px;
    background-position: 0 -140px
}

.icons.icon_trash {
    height: 10px;
    width: 8px;
    background-position: -35px 0
}

.icons.icon_trash {
    height: 10px;
    width: 8px;
    background-position: -35px 0
}

.icons.icon_edit2 {
    height: 10px;
    width: 8px;
    background-position: -35px -35px
}

.icons.icon_mail {
    height: 9px;
    width: 12px;
    background-position: -35px -70px
}

.icons.icon_close {
    height: 17px;
    width: 17px;
    background-position: -35px -105px
}

.icons.icon_check {
    height: 25px;
    width: 28px;
    background-position: -35px -140px
}

.icons.icon_note {
    height: 33px;
    width: 27px;
    background-position: -70px 0
}

.icons.icon_bookmark {
    height: 31px;
    width: 23px;
    background-position: -70px -35px
}

.icons.icon_photoupload {
    height: 31px;
    width: 28px;
    background-position: -70px -70px
}

.icons.icon_info {
    height: 30px;
    width: 28px;
    background-position: -70px -105px
}

.icons.icon_alert {
    height: 28px;
    width: 32px;
    background-position: -70px -140px
}

.icons.icon_block {
    height: 28px;
    width: 26px;
    background-position: -105px 0
}

.icons.icon_add {
    height: 30px;
    width: 28px;
    background-position: -105px -35px
}

.icons.yellow_block_arr1 {
    height: 26px;
    width: 16px;
    background-position: -140px 0
}

.icons.yellow_block_arr2 {
    height: 26px;
    width: 17px;
    background-position: -140px -35px
}

.icons.refresh {
    height: 17px;
    width: 20px;
    background-position: -140px -70px
}

.icons.calendar {
    height: 21px;
    width: 20px;
    background-position: -140px -105px
}

.icons.top_arr {
    height: 15px;
    width: 15px;
    background-position: -140px -140px
}

.icons.add {
    height: 39px;
    width: 39px;
    background-position: -175px 0;
    vertical-align: top
}

.icons.next {
    height: 34px;
    width: 34px;
    background-position: -175px -70px
}

.icons.prev {
    height: 34px;
    width: 34px;
    background-position: -175px -105px
}

.icons.key {
    height: 6px;
    width: 11px;
    background-position: -175px -140px
}

.icons.ok {
    height: 8px;
    width: 9px;
    background-position: -210px -140px
}

.icons.no_ok {
    height: 9px;
    width: 9px;
    background-position: -210px -105px
}

.button {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-family: Trebuchet MS, sans-serif
}

.button.button-gray {
    height: 28px;
    line-height: 28px;
    padding: 0 14px;
    border: 1px solid #e7e7e7;
    color: #4b4b4b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top, #fff, #dcdcdc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#dcdcdc));
    background-image: -webkit-linear-gradient(top, #fff, #dcdcdc);
    background-image: -o-linear-gradient(top, #fff, #dcdcdc);
    background-image: linear-gradient(to bottom, #fff, #dcdcdc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffffff', endColorstr = '#ffdcdcdc', GradientType = 0);
    -webkit-box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.03);
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.03);
    -moz-text-shadow: 1px 1px 0 #fff;
    -webkit-text-shadow: 1px 1px 0 #fff;
    text-shadow: 1px 1px 0 #fff
}

.button.button-gray:hover {
    border-color: #f4f4f4;
    background-color: #fcfcfc;
    background-image: -moz-linear-gradient(top, #fff, #f8f8f8);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f8f8f8));
    background-image: -webkit-linear-gradient(top, #fff, #f8f8f8);
    background-image: -o-linear-gradient(top, #fff, #f8f8f8);
    background-image: linear-gradient(to bottom, #fff, #f8f8f8);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffffff', endColorstr = '#fff8f8f8', GradientType = 0)
}

.button.button-green {
    height: 68px;
    line-height: 68px;
    padding: 0 23px;
    border: 1px solid #56a64f;
    color: #fff;
    font-size: 26px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #5eb234;
    background-image: -moz-linear-gradient(top, #92c544, #11951c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#92c544), to(#11951c));
    background-image: -webkit-linear-gradient(top, #92c544, #11951c);
    background-image: -o-linear-gradient(top, #92c544, #11951c);
    background-image: linear-gradient(to bottom, #92c544, #11951c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff92c544', endColorstr = '#ff11951c', GradientType = 0);
    -moz-box-shadow: inset 0 1px 0 0 #d4e8b5;
    -webkit-box-shadow: inset 0 1px 0 0 #d4e8b5;
    box-shadow: inset 0 1px 0 0 #d4e8b5;
    -moz-text-shadow: 1px 1px 0 #227f17;
    -webkit-text-shadow: 1px 1px 0 #227f17;
    text-shadow: 1px 1px 0 #227f17
}

.button.button-green:hover {
    background-color: #469314;
    background-image: -moz-linear-gradient(top, #70aa17, #06700f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70aa17), to(#06700f));
    background-image: -webkit-linear-gradient(top, #70aa17, #06700f);
    background-image: -o-linear-gradient(top, #70aa17, #06700f);
    background-image: linear-gradient(to bottom, #70aa17, #06700f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff70aa17', endColorstr = '#ff06700f', GradientType = 0);
    -moz-box-shadow: inset 0 2px 7px 0 #d4e8b5;
    -webkit-box-shadow: inset 0 2px 7px 0 #d4e8b5;
    box-shadow: inset 0 2px 7px 0 #d4e8b5
}

.button.button-green.small {
    height: 43px;
    line-height: 43px;
    font-size: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.button.button-green.min {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.button.button-orange {
    height: 44px;
    line-height: 44px;
    padding: 0 23px;
    border: 1px solid #fbb175;
    color: #fff;
    font-size: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fea601;
    background-image: -moz-linear-gradient(top, #fec701, #ff7400);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fec701), to(#ff7400));
    background-image: -webkit-linear-gradient(top, #fec701, #ff7400);
    background-image: -o-linear-gradient(top, #fec701, #ff7400);
    background-image: linear-gradient(to bottom, #fec701, #ff7400);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fffec701', endColorstr = '#ffff7400', GradientType = 0);
    -moz-box-shadow: inset 0 1px 0 0 #ffe999;
    -webkit-box-shadow: inset 0 1px 0 0 #ffe999;
    box-shadow: inset 0 1px 0 0 #ffe999;
    -moz-text-shadow: 1px 1px 0 #e0811a;
    -webkit-text-shadow: 1px 1px 0 #e0811a;
    text-shadow: 1px 1px 0 #e0811a
}

.button.button-orange:hover {
    background-color: #f1a502;
    background-image: -moz-linear-gradient(top, #fdcf01, #df6703);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdcf01), to(#df6703));
    background-image: -webkit-linear-gradient(top, #fdcf01, #df6703);
    background-image: -o-linear-gradient(top, #fdcf01, #df6703);
    background-image: linear-gradient(to bottom, #fdcf01, #df6703);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fffdcf01', endColorstr = '#ffdf6703', GradientType = 0)
}

.button.button-orange.small {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.btn-group {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 0;
    vertical-align: middle;
    white-space: nowrap
}

.btn-group .btn {
    display: inline-block;
    padding: 0 25px;
    border: 1px solid;
    border-color: #f6f6f6 #fff #c7c7c7 #c7c7c7;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
    text-decoration: none;
    color: #474747;
    cursor: pointer;
    -moz-text-shadow: 1px 1px 0 #fff;
    -webkit-text-shadow: 1px 1px 0 #fff;
    text-shadow: 1px 1px 0 #fff;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #fff, #eaeaea);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #fff, #eaeaea);
    background-image: -o-linear-gradient(top, #fff, #eaeaea);
    background-image: linear-gradient(to bottom, #fff, #eaeaea);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffffff', endColorstr = '#ffeaeaea', GradientType = 0)
}

.btn-group .btn.selected, .btn-group .btn:hover {
    color: #fff;
    border-color: #343434;
    -moz-text-shadow: 0 0 0 #fff;
    -webkit-text-shadow: 0 0 0 #fff;
    text-shadow: 0 0 0 #fff;
    background-color: #454545;
    background-image: -moz-linear-gradient(top, #343434, #5f5f5f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#343434), to(#5f5f5f));
    background-image: -webkit-linear-gradient(top, #343434, #5f5f5f);
    background-image: -o-linear-gradient(top, #343434, #5f5f5f);
    background-image: linear-gradient(to bottom, #343434, #5f5f5f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff343434', endColorstr = '#ff5f5f5f', GradientType = 0)
}

.btn-group .btn:last-child {
    border-right-color: #c7c7c7;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.btn-group .btn:first-child {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 230px;
    color: #fff;
    font-size: 13px;
    background: url("../images/foot_bg.png") repeat 0 0
}

.footer:before {
    position: absolute;
    top: 1px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: .1
}

.footer .wrapper {
    padding: 35px 0 0 0
}

.footer .feedback .icons {
    margin: 0 2px 0 0;
    vertical-align: middle
}

.footer .feedback a {
    vertical-align: top
}

.footer a {
    color: #fff
}

.form_text {
    color: #7f7f7f;
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    font-family: Trebuchet MS
}

.red {
    color: #fe2200
}

input.text {
    color: #7f7f7f;
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    font-family: Trebuchet MS;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.09);
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.09);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 46px;
    line-height: 46px;
    padding: 4px 13px;
    border: 1px solid #ececec
}

input.text:focus {
    border: 1px solid #0facdf;
    -webkit-box-shadow: 0 0 4px 0 rgba(16, 143, 182, 0.75);
    -moz-box-shadow: 0 0 4px 0 rgba(16, 143, 182, 0.75);
    box-shadow: 0 0 4px 0 rgba(16, 143, 182, 0.75)
}

input.text.small {
    height: 36px;
    line-height: 36px;
    font-size: 21px
}

input.text.normal {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-style: normal;
    color: #353639
}

input.text.normal_big {
    font-size: 18px;
    font-style: normal;
    color: #353639
}

.textarea {
    color: #7f7f7f;
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    font-family: Trebuchet MS;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.09);
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.09);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    border: 1px solid #ececec;
    font-size: 14px;
    font-style: normal;
    color: #353639
}

.textarea:focus {
    border: 1px solid #0facdf;
    -webkit-box-shadow: 0 0 4px 0 rgba(16, 143, 182, 0.75);
    -moz-box-shadow: 0 0 4px 0 rgba(16, 143, 182, 0.75);
    box-shadow: 0 0 4px 0 rgba(16, 143, 182, 0.75)
}

.form_field {
    *zoom: 1;
    margin: 0 0 15px
}

.form_field dt, .form_field dd {
    display: table-cell;
    vertical-align: top
}

.form_field dt {
    width: 140px;
    padding-right: 10px;
    font-size: 18px;
    color: black
}

.form_field dt label {
    line-height: 45px
}

.form_field dd {
    position: relative
}

.form_field dd .required {
    color: #fe2200;
    margin: 0 4px;
    font-size: 25px;
    vertical-align: top
}

.form_field dd .error {
    color: #fe2200;
    display: none
}

.form_field.invalid .error {
    display: block;
    margin: 3px 0 0 0
}

.form_field:before, .form_field:after {
    display: table;
    content: "";
    line-height: 0
}

.form_field:after {
    clear: both
}

.required {
    color: #fe2200;
    margin: 0 4px;
    font-size: 25px;
    vertical-align: top
}

.help-inline {
    vertical-align: middle;
    color: #7f7f7f;
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    font-family: Trebuchet MS;
    font-size: 20px
}

.birthday .select {
    width: 115px
}

.birthday .select:first-child {
    width: 85px
}

.birthday .select.width2 {
    width: 170px
}

.select-large {
    width: 378px
}

.select-xlarge {
    width: 655px
}

.data_selector {
    position: relative;
    display: inline-block;
    margin: 0 0 0 4px
}

.data_selector input {
    width: 118px;
    height: 32px !important;
    line-height: 32px !important
}

.data_selector .calendar {
    position: absolute;
    top: 5px;
    right: 5px
}

.search_field {
    position: relative;
    display: inline-block
}

.search_field input {
    width: 220px
}

.search_field button {
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 32px;
    background: 0;
    cursor: pointer;
    border: 0
}

.search_field button .icons {
    vertical-align: middle
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #353639;
    opacity: .8;
    filter: alpha(opacity = 80)
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1100;
    width: 436px;
    margin-left: -213px;
    padding: 7px;
    background: url("../images/modal_bg.png") repeat 0 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.modal>.inset {
    position: relative;
    padding: 15px 25px;
    background: #f9f9f9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.modal .icon_close {
    position: absolute;
    right: 16px;
    top: 14px;
    cursor: pointer
}

.modal .title {
    margin: 0 0 15px
}

.modal .title h2 {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle
}

.modal .title .icons {
    margin-right: 10px;
    vertical-align: middle
}

.modal textarea.textarea, .modal input.text {
    padding-left: 7px;
    padding-right: 7px
}

.items-product {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000
}

.items-product li {
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    padding: 20px;
    background: #fff;
    border: 1px solid #f0f0f0;
    padding: 5px 20px;
    margin-bottom: 12px;
    overflow: hidden
}

.items-product li.gradient {
    background: #fff url("../images/box_border_gradient.png") repeat-x 0 0
}

.items-product li .top_arr {
    position: absolute;
    top: -15px;
    right: 55px
}

.items-product li .item-image {
    float: left;
    width: 100px;
    text-align: center;
    padding-right: 20px
}

.items-product li .item-description {
    float: left;
    max-width: 300px;
    height: 70px;
    vertical-align: middle
}

.items-product li .item-actions {
    float: right;
    max-width: 420px;
    text-align: right;
    vertical-align: middle;
    height: 70px
}

.items-product li .item-actions .button {
    margin-left: 25px;
    margin-top: 1px
}

.items-product li .item-actions .width1 {
    padding: 3px 10px
}

.items-product li .item-actions .yellow {
    font-size: 21px
}

.items-product li .item-actions * {
    vertical-align: middle
}

.items-diary {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    color: #7c7b79
}

.items-diary li {
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    position: relative;
    padding: 20px;
    background: #fff;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 12px;
    overflow: hidden
}

.items-diary li.gradient {
    background: #fff url("../images/box_border_gradient.png") repeat-x 0 0
}

.items-diary li .top_arr {
    position: absolute;
    top: -15px;
    right: 55px
}

.items-diary li .item-image {
    float: left;
    width: 140px;
    padding-right: 25px
}

.items-diary li .item-image img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.items-diary li .item-description {
    float: left;
    max-width: 530px;
    padding: 5px 0
}

.items-diary li .item-actions {
    float: right;
    width: 140px;
    padding: 21px 0;
    text-align: center
}

.items-diary li strong {
    color: #2c2b29
}

.product-list {
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
    list-style: none
}

.product-list li {
    *zoom: 1;
    margin: 0 0 2px;
    padding: 15px;
    background: #f1faff
}

.product-list li:before, .product-list li:after {
    display: table;
    content: "";
    line-height: 0
}

.product-list li:after {
    clear: both
}

.product-list .action {
    float: right
}

.product-list .action a {
    margin: 0 0 0 5px
}

.product-list .action * {
    vertical-align: middle
}

.search-page {
    width: 860px;
    margin: 0 auto
}

.search-page .product-add {
    padding: 15px 0
}

.search-page .search-about {
    width: 660px;
    margin: 0 0 35px;
    font-style: italic;
    color: #7c7b79;
    font-size: 13px
}

.search-page .search-about strong {
    color: #000
}

.search-page .big-search {
    margin-bottom: 10px;
    *zoom: 1
}

.search-page .big-search:before, .search-page .big-search:after {
    display: table;
    content: "";
    line-height: 0
}

.search-page .big-search:after {
    clear: both
}

.search-page .big-search input.text {
    float: left;
    width: 660px;
    height: 56px
}

.search-page .big-search .button {
    float: right;
    height: 54px;
    line-height: 54px;
    font-size: 20px;
    margin-left: 10px;
    padding: 0 20px
}

.diary .username {
    text-align: center;
    margin: 0 0 30px
}

.diary .username .age {
    font-size: 34px;
    color: #7b7b7b
}

.diary .general_info .didecated {
    position: relative;
    display: inline-block;
    margin: 0 -10px 10px 0;
    padding: 1px 10px;
    color: #fff;
    font-style: italic;
    background: #ff3000
}

.diary .general_info .avatar {
    position: relative;
    width: 329px;
    height: 329px;
    margin: 0 auto
}

.diary .general_info .avatar:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 329px;
    height: 91px;
    background: url("../images/user_general_avatar.png") no-repeat top center
}

.diary .general_info .avatar .weight, .diary .general_info .avatar .growth {
    position: absolute;
    background: url("../images/user_info.png");
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: bold
}

.diary .general_info .avatar .weight {
    top: 0;
    right: -35px;
    width: 112px;
    height: 84px;
    padding: 28px 0 0 0;
    -moz-text-shadow: 1px 1px 0 #639d18;
    -webkit-text-shadow: 1px 1px 0 #639d18;
    text-shadow: 1px 1px 0 #639d18
}

.diary .general_info .avatar .weight .fs37 {
    font-size: 26px;
    line-height: 35px
}

.diary .general_info .avatar .growth {
    top: 115px;
    right: -60px;
    width: 92px;
    height: 74px;
    padding: 18px 0 0 0;
    background-position: 0 -112px;
    -moz-text-shadow: 1px 1px 0 #d98f04;
    -webkit-text-shadow: 1px 1px 0 #d98f04;
    text-shadow: 1px 1px 0 #d98f04
}

.diary .general_info .avatar .photo_counter {
    position: absolute;
    left: 0;
    bottom: 17px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px
}

.diary .general_info .span4 {
    padding-top: 55px
}

.diary .menu {
    margin: 0 0 15px
}

.diary .menu .btn {
    width: 185px;
    text-align: center
}

.diary .menu .btn:last-child {
    width: 187px
}

.weight_index {
    position: relative;
    width: 620px;
    margin: -30px auto 35px;
    font-size: 14px
}

.weight_index p {
    margin: 0 0 13px
}

.weight_edit {
    padding: 10px 0
}

.weight_edit input.text {
    margin: 0 8px
}

.weight_edit .button {
    margin-left: 25px
}

.weight_edit * {
    vertical-align: middle
}

.add_timeline_read .period {
    *zoom: 1;
    margin: 0 0 25px
}

.add_timeline_read .period .btn-group {
    float: left
}

.add_timeline_read .period .btn-group .btn {
    padding: 0 20px;
    line-height: 35px;
    font-size: 14px;
    font-weight: normal
}

.add_timeline_read .period:before, .add_timeline_read .period:after {
    display: table;
    content: "";
    line-height: 0
}

.add_timeline_read .period:after {
    clear: both
}

.add_timeline_read .photo_box {
    padding: 5px 30px 0 0
}

.add_timeline_read .photo_box .photo {
    position: relative;
    width: 136px;
    /*height: 136px*/
}

.add_timeline_read .photo_box .photo:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 43px;
    /*background: url("../images/add_timeline_read_img.png") no-repeat 0 0*/
}

.add_timeline_read .photo_box .photo .photo_counter {
    position: absolute;
    z-index: 2;
    bottom: 3px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px
}

.add_timeline_read .textarea {
    width: 690px;
    height: 100px;
    margin: 0 0 20px;
    padding: 6px 10px
}

.add_timeline_read .social_publick {
    padding: 10px 0 0 12px
}

.add_timeline_read .social_publick li {
    list-style: none;
    float: left;
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
    padding: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.add_timeline_read .social_publick li:hover, .add_timeline_read .social_publick li.selected {
    -webkit-box-shadow: 0 0 2px 0 #333;
    -moz-box-shadow: 0 0 2px 0 #333;
    box-shadow: 0 0 2px 0 #333
}

.timeline {
    *zoom: 1;
    position: relative;
    width: 950px;
    background: url("../images/timeline_delimiter.png") repeat-y 473px top;
    margin: 3px 0 55px 0
}

.timeline .left_col, .timeline .right_col {
    float: left;
    width: 475px;
    padding: 25px 0
}

.timeline .item {
    position: relative;
    margin: 0 0 15px;
    padding-bottom: 10px;
    color: #7c7b78
}

.timeline .item .arrow {
    position: absolute;
    top: 26px;
    display: block;
    width: 40px;
    height: 18px;
    background: url("../images/timeline_arr.png") no-repeat
}

.timeline .item .edit_block {
    position: absolute;
    right: 12px;
    top: 5px
}

.timeline .item .edit_block .icons {
    cursor: pointer;
    position: relative
}

.timeline .item .edit_block .icons .tooltip {
    position: absolute;
    bottom: -33px;
    left: -58px;
    display: none
}

.timeline .item .edit_block .icons:hover .tooltip {
    display: block
}

.timeline .item .edit_block .icon_trash {
    margin-left: 5px
}

.timeline .item .edit_block .icon_trash .tooltip {
    left: -37px
}

.timeline .item .data {
    margin: 0 0 15px;
    font-style: italic
}

.timeline .item .item_content {
    *zoom: 1;
    margin: 0 0 8px
}

.timeline .item .item_content:before, .timeline .item .item_content:after {
    display: table;
    content: "";
    line-height: 0
}

.timeline .item .item_content:after {
    clear: both
}

.timeline .item .item_content dt {
    float: left;
    width: 30px
}

.timeline .item .item_content dd {
    float: right;
    width: 360px
}

.timeline .item h3 {
    margin: 0 0 5px
}

.timeline .item b {
    color: #2b2b29
}

.timeline .item p {
    margin: 0 0 10px
}

.timeline .left_col .item {
    width: 402px
}

.timeline .left_col .item .arrow {
    right: -40px
}

.timeline .right_col {
    padding: 65px 0 0 0
}

.timeline .right_col .item {
    width: 402px;
    margin-left: 29px
}

.timeline .right_col .item .arrow {
    left: -36px;
    background-position: 0 -21px
}

.timeline:before, .timeline:after {
    display: table;
    content: "";
    line-height: 0
}

.timeline:after {
    clear: both
}

.timeline .more {
    position: absolute;
    left: 473px;
    bottom: -60px;
    width: 3px;
    height: 100px;
    background: url("../images/timeline_delimiter_foot.png") no-repeat 0 0
}

.timeline .timeline_delimitter {
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    background: #fff;
    border: 1px solid #f0f0f0;
    position: relative;
    clear: both;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 10px 10px 55px;
    font-size: 20px;
    text-align: center
}

.timeline .timeline_delimitter.gradient {
    background: #fff url("../images/box_border_gradient.png") repeat-x 0 0
}

.timeline .timeline_delimitter .top_arr {
    position: absolute;
    top: -15px;
    right: 55px
}

.my_with {
    position: relative;
    display: inline-block
}

.my_with input {
    width: 135px;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    color: #ff7600
}

.my_with .refresh {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer
}

.data_filter {
    *zoom: 1;
    margin: 0 0 25px
}

.data_filter .period {
    float: left;
    padding: 7px 0 0 0
}

.data_filter .period a {
    margin: 0 15px 0 0;
    color: #2d2b29
}

.data_filter .period a.selected {
    text-decoration: none;
    font-weight: bold
}

.data_filter:before, .data_filter:after {
    display: table;
    content: "";
    line-height: 0
}

.data_filter:after {
    clear: both
}

.result_filter {
    *zoom: 1;
    margin: 20px 0
}

.result_filter .filter_day {
    float: left;
    padding: 6px 0 0 0
}

.result_filter .filter_day a {
    margin: 0 0 0 8px
}

.result_filter .form {
    float: right
}

.result_filter:before, .result_filter:after {
    display: table;
    content: "";
    line-height: 0
}

.result_filter:after {
    clear: both
}

.my_diary {
    margin: 0 0 35px 0
}

.my_diary .crossed {
    margin: 0 0 10px
}

.my_diary .crossed td.title {
    font-style: normal
}

.my_diary .post {
    margin: 0 0 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #e8e8e8
}

.my_diary .post .data {
    display: inline-block;
    margin: 0 10px 0 0;
    color: #222;
    font-size: 16px
}

.my_diary .item_content {
    *zoom: 1;
    margin: 0 0 15px
}

.my_diary .item_content dt {
    float: left;
    width: 50px;
    padding: 10px 0 0 0;
    text-align: center
}

.my_diary .item_content dd {
    float: right;
    width: 836px
}

.my_diary .item_content:before, .my_diary .item_content:after {
    display: table;
    content: "";
    line-height: 0
}

.my_diary .item_content:after {
    clear: both
}

.my_diary b {
    color: #222
}

.my_diary .edit_block {
    display: inline-block
}

.my_diary .edit_block .icons {
    cursor: pointer;
    position: relative
}

.my_diary .edit_block .icons .tooltip {
    position: absolute;
    bottom: -33px;
    left: -58px;
    display: none
}

.my_diary .edit_block .icons:hover .tooltip {
    display: block
}

.my_diary .edit_block .icon_trash {
    margin-left: 5px
}

.my_diary .edit_block .icon_trash .tooltip {
    left: -37px
}

.period_list {
    *zoom: 1;
    position: relative;
    z-index: 10;
    margin: 0 -2px -1px 0
}

.period_list:before, .period_list:after {
    display: table;
    content: "";
    line-height: 0
}

.period_list:after {
    clear: both
}

.period_list ul {
    height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    *zoom: 1
}

.period_list ul:before, .period_list ul:after {
    display: table;
    content: "";
    line-height: 0
}

.period_list ul:after {
    clear: both
}

.period_list ul li {
    float: left;
    width: 79.16666666666667px;
    height: 36px;
    padding: 5px 0 0 0;
    text-align: center
}

.period_list ul li.current {
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.07);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 77.16666666666667px;
    background: #fff;
    border: 1px solid #f0f0f0
}

.period_list ul li.current a {
    color: #222;
    border: 0;
    cursor: inherit
}

.period_list .icons {
    position: absolute;
    top: 0
}

.period_list .icons.prev {
    left: -36px
}

.period_list .icons.next {
    right: -36px
}

.period_list.month {
    margin-bottom: 30px
}

.period_list.month ul li {
    width: 316.6666666666667px
}

.index-first {
    background: url('../images/vegetables.jpg') 50% 0 no-repeat;
    padding-bottom: 35px
}

.index-first .steps {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 45px;
    *zoom: 1
}

.index-first .steps:before, .index-first .steps:after {
    display: table;
    content: "";
    line-height: 0
}

.index-first .steps:after {
    clear: both
}

.index-first .steps li {
    float: left
}

.index-first .steps li em {
    color: #7b7b7b
}

.index-first .steps li.step1 {
    width: 260px;
    padding: 0 50px 0 0;
    margin-right: 30px;
    background: url('../images/arrowcorner.png') right center no-repeat
}

.index-first .steps li.step2 {
    width: 290px;
    padding: 0 50px 0 0;
    margin-right: 30px;
    background: url('../images/arrowcorner.png') right center no-repeat
}

.index-first .steps li.step3 {
    width: 280px
}

.index-second {
    padding-bottom: 35px;
    background-color: #fafbfb;
    background-image: -moz-linear-gradient(top, #f6f8f8, #fff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f8f8), to(#fff));
    background-image: -webkit-linear-gradient(top, #f6f8f8, #fff);
    background-image: -o-linear-gradient(top, #f6f8f8, #fff);
    background-image: linear-gradient(to bottom, #f6f8f8, #fff);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fff6f8f8', endColorstr = '#ffffffff', GradientType = 0)
}

.index-second .steps {
    *zoom: 1;
    padding: 0;
    list-style: none;
    position: relative;
    margin-left: -25px;
    margin-bottom: 45px
}

.index-second .steps:before, .index-second .steps:after {
    display: table;
    content: "";
    line-height: 0
}

.index-second .steps:after {
    clear: both
}

.index-second .steps li {
    width: 178px;
    float: left;
    margin-left: 25px
}

.index-second .steps li strong {
    color: #000;
    font-size: 15px
}

.index-second .steps li .image {
    height: 145px;
    background-image: url('../images/steps_images.png');
    background-repeat: no-repeat;
    background-position: 200px 0
}

.index-second .steps li p {
    color: #a2a2a2;
    font-size: 14px
}

.index-second .steps li p:hover {
    color: #696969
}

.index-second .steps li.step1 .image {
    background-position: 0 0
}

.index-second .steps li.step2 .image {
    background-position: 0 -145px
}

.index-second .steps li.step3 .image {
    background-position: 0 -290px
}

.index-second .steps li.step4 .image {
    background-position: 0 -435px
}

.index-second .steps li.step5 .image {
    background-position: 0 -580px
}

.index-third .newusers {
    padding: 0;
    list-style: none;
    position: relative;
    margin-left: -25px;
    margin-bottom: 40px;
    *zoom: 1
}

.index-third .newusers:before, .index-third .newusers:after {
    display: table;
    content: "";
    line-height: 0
}

.index-third .newusers:after {
    clear: both
}

.index-third .newusers li {
    width: 228px;
    float: left;
    margin-left: 25px
}

.index-third .newusers li .user-box {
    position: relative;
    background: #fff;
    padding: 6px;
    border: 1px solid #f3f3f3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px 0 #ededed;
    -moz-box-shadow: 0 2px 3px 0 #ededed;
    box-shadow: 0 2px 3px 0 #ededed
}

.index-third .newusers li .user-photo img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.index-third .newusers li var {
    position: absolute;
    top: 123px;
    left: -5px;
    width: 70px;
    padding-left: 9px;
    height: 33px;
    line-height: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-shadow: 0 1px 1px rgba(93, 148, 12, 0.75);
    background: url('../images/badge.png') no-repeat
}

.index-third .newusers li em {
    color: #dedede
}

.index-third .newusers li .user-info {
    font-size: 13px;
    padding: 6px
}

.fb-like, #vk_like {
    vertical-align: top !important
}

.graph {
    width: 950px;
    margin: 0 auto 10px;
    position: relative;
    border-left: 2px solid #c7c7c5
}

.graphics {
    position: relative;
    margin-left: -60px;
    padding: 30px 0 30px 60px;
    border-bottom: 1px solid #c7c7c5
}

.graphics .text {
    position: absolute;
    bottom: 6px;
    right: 0;
    font-size: 14px
}

.range {
    position: absolute;
    top: 20px;
    left: 0;
    width: 60px;
    padding: 0;
    list-style: none;
    color: #7c7b79;
    font-size: 12px;
    line-height: 20px
}

.range li {
    height: 20px;
    position: relative;
    padding: 0 8px 0 0;
    text-align: right
}

.range li:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 5px;
    height: 1px;
    background: #c7c7c5
}

.pointers-container {
    position: absolute;
    top: 30px;
    left: 60px;
    z-index: 100;
    width: 950px
}

.pointers-container .point {
    position: absolute;
    width: 1px;
    height: 1px
}

.pointers-container .point .point_ins {
    position: absolute;
    width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;
    background: #ff7600;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.pointers-container .point .point_add_data {
    position: absolute;
    width: 11px;
    height: 11px;
    line-height: 10px;
    margin: -6px 0 0 -6px;
    border: 1px solid #ff7600;
    background: #fff;
    color: #ff7600;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.pointers-container .point .tooltip {
    display: none;
    top: -40px;
    left: -65px;
    width: 100px;
    text-align: center
}

.pointers-container .point .point_ins_hover {
    display: none;
    position: absolute;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: -21px 0 0 -21px;
    background: #ff7600;
    text-align: center;
    font-size: 12px;
    cursor: default;
    color: #fff;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px
}

.pointers-container .point:hover .point_ins_hover {
    display: block
}

.pointers-container .point:hover .tooltip {
    display: block
}

.diagram-container {
    position: relative;
    margin-left: -60px;
    padding: 25px 0 0 60px
}

.diagram-container .range {
    bottom: 20.857142857142858px;
    top: auto;
    z-index: 2
}

.diagram-container .range li {
    line-height: 35.714285714285715px;
    height: 35.714285714285715px
}

.diagram-container .range li:before {
    top: auto;
    bottom: 17.857142857142858px
}

.diagram-container .range li.norma-line {
    position: absolute;
    left: 0;
    bottom: 250px;
    height: 30px;
    line-height: 17px;
    padding-bottom: 25px;
    color: #30a026
}

.diagram-container .range li.norma-line:before {
    z-index: 100;
    width: 994px;
    left: 12px;
    background: #47a73f;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4)
}

.diagram {
    *zoom: 1;
    position: absolute;
    z-index: 1;
    left: 60px;
    bottom: 0;
    width: 946px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 2px solid #c7c7c5;
    font-size: 0
}

.diagram li {
    position: relative;
    display: inline-block;
    width: 77.83333333333333px;
    padding: 0 0 1px 1px;
    vertical-align: bottom
}

.diagram li .norma, .diagram li .norma-light-limit {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #56dd4a
}

.diagram li .norma-light-limit {
    z-index: 2;
    background: #f5b436
}

.diagram li .value {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #f55e36
}

.diagram li.no_data .value {
    background: #ebebeb !important
}

.diagram li.no_data .add_data {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 20%;
    margin-left: -19.5px
}

.diagram li .count {
    height: 20px;
    margin: 0 0 5px;
    text-align: center
}

.diagram li .count .yellow_block {
    display: inline-block;
    padding: 0 7px;
    font-size: 10px;
    color: #000;
    line-height: 16px;
    vertical-align: bottom;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}

.diagram li .count .icons {
    vertical-align: middle
}

.diagram.invert li .norma, .diagram.invert li .norma-light-limit {
    background: #f55e36
}

.diagram.invert li .norma-light-limit {
    background: #f5b436
}

.diagram.invert li .value {
    background: #56dd4a
}

.diagram:before, .diagram:after {
    display: table;
    content: "";
    line-height: 0
}

.diagram:after {
    clear: both
}

.select2-container {
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top
}

.select2-container, .select2-drop, .select2-search, .select2-search input {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box
}

.select2-container .select2-choice {
    background: #fff;
    border: 1px solid #ececec;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 44px;
    line-height: 44px;
    padding: 0 0 0 17px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    -moz-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.09);
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.09);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #aaa;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0, #fff 90%);
    background-image: -moz-linear-gradient(center bottom, #eee 0, #fff 90%);
    background-image: -o-linear-gradient(bottom, #eee 0, #fff 90%);
    background-image: -ms-linear-gradient(top, #eee 0, #fff 90%);
    background-image: linear-gradient(top, #eee 0, #fff 90%)
}

.select2-container .select2-choice span {
    margin-right: 40px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #7f7f7f;
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    font-family: Trebuchet MS
}

.select2-container .select2-choice abbr {
    display: block;
    position: absolute;
    right: 26px;
    top: 8px;
    width: 12px;
    height: 12px;
    font-size: 1px;
    background: url('../images/select2.png') right top no-repeat;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    outline: 0
}

.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer
}

.select2-drop {
    background: #fff;
    color: #000;
    position: absolute;
    top: 100%;
    z-index: 9999;
    width: auto !important;
    margin-top: 8px;
    padding-right: 5px;
    border: 1px solid #ececec;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.19)
}

.select2-drop.select2-drop-above {
    margin-top: -8px
}

.select2-container .select2-choice div {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 33px
}

.select2-container .select2-choice div b {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -7px;
    display: block;
    width: 13px;
    height: 7px;
    background: url("../images/icons.png") no-repeat -105px -105px
}

.select2-search {
    display: none;
    white-space: nowrap;
    z-index: 10000;
    min-height: 26px;
    width: 100%;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px
}

.select2-search-hidden {
    display: block;
    position: absolute;
    left: -10000px
}

.select2-search input {
    background: #fff url('../images/select2.png') no-repeat 100% -22px;
    background: url('../images/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('../images/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../images/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../images/select2.png') no-repeat 100% -22px, -o-linear-gradient(bottom, #fff 85%, #eee 99%);
    background: url('../images/select2.png') no-repeat 100% -22px, -ms-linear-gradient(top, #fff 85%, #eee 99%);
    background: url('../images/select2.png') no-repeat 100% -22px, linear-gradient(top, #fff 85%, #eee 99%);
    padding: 4px 20px 4px 5px;
    outline: 0;
    border: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 1em;
    width: 100%;
    margin: 0;
    height: auto !important;
    min-height: 26px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px
}

.select2-search input.select2-active {
    background: #fff url('../images/spinner.gif') no-repeat 100%;
    background: url('../images/spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('../images/spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../images/spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../images/spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, #fff 85%, #eee 99%);
    background: url('../images/spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #fff 85%, #eee 99%);
    background: url('../images/spinner.gif') no-repeat 100%, linear-gradient(top, #fff 85%, #eee 99%)
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
    outline: 0
}

.select2-dropdown-open .select2-choice {
    border: 1px solid #0facdf;
    -webkit-box-shadow: 0 0 4px 0 rgba(16, 143, 182, 0.75);
    -moz-box-shadow: 0 0 4px 0 rgba(16, 143, 182, 0.75);
    box-shadow: 0 0 4px 0 rgba(16, 143, 182, 0.75)
}

.select2-dropdown-open .select2-choice div {
    background: transparent;
    border-left: none
}

.select2-dropdown-open .select2-choice div b {
    background-position: -105px -140px
}

.select2-results {
    margin: 10px 0;
    padding: 0 25px 0 10px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 250px
}

.select2-results ul.select2-result-sub {
    margin: 0
}

.select2-results ul.select2-result-sub>li .select2-result-label {
    padding-left: 20px
}

.select2-results ul.select2-result-sub ul.select2-result-sub>li .select2-result-label {
    padding-left: 40px
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label {
    padding-left: 60px
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label {
    padding-left: 80px
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label {
    padding-left: 100px
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label {
    padding-left: 110px
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label {
    padding-left: 120px
}

.select2-results li {
    position: relative;
    width: 100%;
    margin: 0 0 3px;
    padding: 8px 9px 10px;
    list-style: none;
    display: block;
    white-space: nowrap;
    color: #424241;
    font-size: 16px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.select2-results li:before {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    font-size: 0;
    background: #ececec
}

.select2-results li:last-child:before {
    display: none
}

.select2-results li.select2-result-with-children>.select2-result-label {
    font-weight: bold
}

.select2-results .select2-result-label {
    padding: 0;
    margin: 0;
    cursor: pointer
}

.select2-results .select2-highlighted {
    color: #fff;
    background-color: #5eb234;
    background-image: -moz-linear-gradient(top, #92c544, #11951c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#92c544), to(#11951c));
    background-image: -webkit-linear-gradient(top, #92c544, #11951c);
    background-image: -o-linear-gradient(top, #92c544, #11951c);
    background-image: linear-gradient(to bottom, #92c544, #11951c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff92c544', endColorstr = '#ff11951c', GradientType = 0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.select2-results li em {
    background: #feffde;
    font-style: normal
}

.select2-results .select2-highlighted em {
    background: transparent
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item
}

.select2-results .select2-disabled {
    display: none
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('../images/spinner.gif') no-repeat 100%
}

.select2-more-results {
    background: #f4f4f4;
    display: list-item
}

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default
}

.select2-container.select2-container-disabled .select2-choice div {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0
}

.select2-container-multi .select2-choices {
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -o-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -ms-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: linear-gradient(top, #eee 1%, #fff 15%);
    border: 1px solid #aaa;
    margin: 0;
    padding: 0;
    cursor: text;
    overflow: hidden;
    height: auto !important;
    height: 1%;
    position: relative
}

.select2-container-multi .select2-choices {
    min-height: 26px
}

.select2-container-multi.select2-container-active .select2-choices {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #5897fb;
    outline: 0
}

.select2-container-multi .select2-choices li {
    float: left;
    list-style: none
}

.select2-container-multi .select2-choices .select2-search-field {
    white-space: nowrap;
    margin: 0;
    padding: 0
}

.select2-container-multi .select2-choices .select2-search-field input {
    color: #666;
    background: transparent !important;
    font-family: sans-serif;
    font-size: 100%;
    height: 15px;
    padding: 5px;
    margin: 1px 0;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #fff url('../images/spinner.gif') no-repeat 100% !important
}

.select2-default {
    color: #999 !important
}

.select2-container-multi .select2-choices .select2-search-choice {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    border: 1px solid #aaa;
    line-height: 13px;
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;
    cursor: default
}

.select2-container-multi .select2-choices .select2-search-choice span {
    cursor: default
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4
}

.select2-search-choice-close {
    display: block;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
    height: 13px;
    font-size: 1px;
    background: url('../images/select2.png') right top no-repeat;
    outline: 0
}

.select2-container-multi .select2-search-choice-close {
    left: 3px
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
    background-position: right -11px
}

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px
}

.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    background-image: none;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 3px 5px 3px 5px
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
    display: none
}

.select2-result-selectable .select2-match, .select2-result-unselectable .select2-result-selectable .select2-match {
    text-decoration: underline
}

.select2-result-unselectable .select2-match {
    text-decoration: none
}

.select2-offscreen {
    position: absolute;
    left: -10000px
}

.body {
    position: relative;
    min-height: 100%;
    height: 100%
}

.body.decor {
    background: url("../images/bg1.jpg") no-repeat 50% 180px
}

html>body .body {
    height: auto
}

.wrapper {
    *zoom: 1;
    width: 950px;
    margin: 0 auto;
    padding: 0 15px
}

.wrapper:before, .wrapper:after {
    display: table;
    content: "";
    line-height: 0
}

.wrapper:after {
    clear: both
}

.content {
    padding: 25px 0 265px
}

.settings-avatar {
    position: absolute;
    margin: -40px 0 0 -20px
}

.shadow-after {
    display: block;
    width: 100%;
    height: 30px;
    background: url("../images/head_after.png") repeat-x 0 0
}

.num {
    display: inline-block;
    *display: inline;
    width: 46px;
    height: 68px;
    line-height: 67px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background: url('../images/num.png') no-repeat;
    color: #000;
    vertical-align: middle
}