{% extends 'admin/common.tpl' %}
{% block content %}
<script src="{{img_host}}/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="{{img_host}}/bootstrap/js/bootstrap-button.js"></script>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a href="/" class="brand">Simplefit</a>
            <div class="nav-collapse">
                <ul class="nav">
                    {% if rights.users == 1 %}
                    <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Юзеры</a>
                            <ul class="dropdown-menu">
                                <li><a href="/users/stats">Стата</a></li>
                                <li><a href="/users">Список</a></li>
                            </ul>
                        </li>

                    {% endif %}
                    {% if rights.links == 1 %}
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Ссылки</a>
                        <ul class="dropdown-menu">
                            <li><a href="/links/stats">Стата</a></li>
                            <li><a href="/links/manage">Управление</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if rights.products == 1 %}<li><a href="/goods">Продукты</a></li>{% endif %}
                    {% if rights.mail == 1 %}<li><a href="/mail">Почта</a></li>{% endif %}
                    {% if rights.admins == 1 %}<li><a href="/admin">Админы</a></li>{% endif %}
                    
                    {% if rights.diaries %}
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Планы</a>
                        <ul class="dropdown-menu">
                            <li><a href="/plan/system">Планы</a></li>
                            <li><a href="/diaries/user">Дневники</a></li>
                        </ul>
                    </li>
                    {% endif %}

                </ul>
                <ul class="nav pull-right">

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-user icon-white"></i> <b>{{login}}</b> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">Выход</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div style="margin-top: 45px; margin-left:5px;">
{% block body %}
{% endblock %}
</div>
{% endblock %}
