.my_with{
	position: relative;
	display: inline-block;
	input{
		width: 135px;
		font-size: 30px;
		font-style: normal;
		font-weight: bold;
		color: #ff7600;
	}
	.refresh{
		position: absolute;
		top: 15px;
		right: 10px;
		cursor: pointer;
	}
}

.data_filter{
	.period{
		a{
			margin: 0 15px 0 0;
			color: #2d2b29;
			&.selected{
				text-decoration: none;
				font-weight: bold;
			}
		}
		float: left;
		padding: 7px 0 0 0;
	}
	.clearfix;
	margin: 0 0 25px;
}

.result_filter{
	.filter_day{
		a{
			margin: 0 0 0 8px;
		}
		float: left;
		padding: 6px 0 0 0;
	}
	.form{
		float: right;
	}
	.clearfix;
	margin: 20px 0;
}

.my_diary{
	.crossed{
		td.title{
			font-style: normal;
		}
		margin: 0 0 10px;
	}
	.post{
		.data{
			display: inline-block;
			margin: 0 10px 0 0;
			color: #222;
			font-size: 16px;
		}
		margin: 0 0 20px;
		padding: 0 0 20px 0;
		border-bottom: 1px solid #e8e8e8;
	}
	.item_content{
		dt{
			float: left;
			width: 50px;
			padding: 10px 0 0 0;
			text-align: center;
		}
		dd{
			float: right;
			width: 836px;
		}
		.clearfix;
		margin: 0 0 15px;
	}
	b{
		color: #222;
	}
	.edit_block{
		.icons{
			cursor: pointer;
			position: relative;
			.tooltip{
				position: absolute;
				bottom: -33px;
				left: -58px;
				display: none;
			}
			&:hover{
				.tooltip{
					display: block;
				}
			}
		}
		.icon_trash{
			margin-left: 5px;
			.tooltip{
				left: -37px;
			}
		}
		display: inline-block;
	}
	margin: 0 0 35px 0;
}

.period_list{
	.clearfix;
	position: relative;
	z-index: 10;
	margin: 0 -2px -1px 0;
	ul{
		height: 40px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		list-style: none;
		.clearfix;
		li{
			float: left;
			width: 950/12px;
			height: 36px;
			padding: 5px 0 0 0;
			text-align: center;
			&.current{
				.box-shadow(1px, 1px, 2px, 0, rgba(0,0,0,.07));
				.border-radius(3px);
				width: 950/12px - 2px;
				background: #fff;
				border: 1px solid #f0f0f0;
				a{
					color: #222;
					border: none;
					cursor: inherit;
				}
			}
		}
	}
	.icons{
		&.prev{
			left: -36px;
		}
		&.next{
			right: -36px;
		}
		position: absolute;
		top: 0;
	}
	&.month{
		margin-bottom: 30px;
		ul{
			li{
				width: 950/3px;
			}
		}
	}
}