.button{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	font-family: Trebuchet MS, sans-serif;

	&.button-gray{
		height: 28px;
		line-height: 28px;
		padding: 0 14px;
		border: 1px solid #e7e7e7;
		color: #4b4b4b;
		.border-radius();
		#gradient > .vertical(#fff, #dcdcdc);
		.box-shadow(1px, 2px, 1px, 0, rgba(0, 0, 0, 0.03));
		.text-shadow(1px, 1px, 0, #fff);
		&:hover{
			border-color: #f4f4f4;
			#gradient > .vertical(#fff, #f8f8f8);
		}
	}
//	button-green
	&.button-green{
		height: 68px;
		line-height: 68px;
		padding: 0 23px;
		border: 1px solid #56a64f;
		color: #fff;
		font-size: 26px;
		.border-radius(10px);
		#gradient > .vertical(#92c544, #11951c);
		.box-shadow-inset(0, 1px, 0, 0, #d4e8b5);
		.text-shadow(1px, 1px, 0, #227f17);
		&:hover{
			#gradient > .vertical(#70aa17, #06700f);
			.box-shadow-inset(0, 2px, 7px, 0, #d4e8b5);
		}
		&.small{
			height: 43px;
			line-height: 43px;
			font-size: 18px;
			.border-radius(3px);
		}
		&.min{
			height: 28px;
			line-height: 28px;
			font-size: 14px;
			.border-radius(6px);
		}
	}
//	button-orange
	&.button-orange{
		height: 44px;
		line-height: 44px;
		padding: 0 23px;
		border: 1px solid #fbb175;
		color: #fff;
		font-size: 18px;
		.border-radius(3px);
		#gradient > .vertical(#fec701, #ff7400);
		.box-shadow-inset(0, 1px, 0, 0, #ffe999);
		.text-shadow(1px, 1px, 0, #e0811a);
		&:hover{
			#gradient > .vertical(#fdcf01, #df6703);
		}
		&.small{
			height: 28px;
			line-height: 28px;
			font-size: 14px;
			.border-radius(6px);
		}
	}
}

.btn-group{
	position: relative;
	display: inline-block;
	.ie7-inline-block();
	font-size: 0;
	vertical-align: middle;
	white-space: nowrap;
	.btn{
		display: inline-block;
		padding: 0 25px;
		border: 1px solid;
		border-color: #f6f6f6 #ffffff #c7c7c7 #c7c7c7;
		font-size: 16px;
		font-weight: bold;
		line-height: 45px;
		text-decoration: none;
		color: #474747;
		cursor: pointer;
		.text-shadow(1px, 1px, 0, #fff);
		#gradient > .vertical(#fff, #eaeaea);
		&.selected,
		&:hover{
			color: #fff;
			border-color: #343434;
			.text-shadow(0, 0, 0, #fff);
			#gradient > .vertical(#343434, #5f5f5f);
		}
		&:last-child{
			border-right-color: #c7c7c7;
			.border-radius(0 3px 3px 0);
		}
		&:first-child{
			.border-radius(3px 0 0 3px);
		}
	}
}

