.diary{
	.username{
		.age{
			font-size: 34px;
			color: #7b7b7b;
		}
		.txt-c;
		margin: 0 0 30px;
	}
	.general_info{
		.didecated{
			position: relative;
			display: inline-block;
			margin: 0 -10px 10px 0;
			padding: 1px 10px;
			color: #fff;
			font-style: italic;
			background: #ff3000;
		}
		.avatar{
			position: relative;
			width: 329px;
			height: 329px;
			margin: 0 auto;
			&:before{
				position: absolute;
				left: 0;
				bottom: 0;
				content: '';
				display: block;
				width: 329px;
				height: 91px;
				background: url("../images/user_general_avatar.png") no-repeat top center;
			}
			.weight,
			.growth{
				position: absolute;
				background: url("../images/user_info.png");
				font-size: 18px;
				text-align: center;
				color: #fff;
				font-weight: bold;
			}
			.weight{
				.fs37{
					font-size: 26px;
					line-height: 35px;
				}
				top: 0;
				right: -35px;
				width: 112px;
				height: 84px;
				padding: 28px 0 0 0;
				.text-shadow(1px, 1px, 0, #639d18);
			}
			.growth{
				top: 115px;
				right: -60px;
				width: 92px;
				height: 74px;
				padding: 18px 0 0 0;
				background-position: 0 -112px;
				.text-shadow(1px, 1px, 0, #d98f04);
			}
			.photo_counter{
				position: absolute;
				left: 0;
				bottom: 17px;
				width: 100%;
				text-align: center;
				color: #fff;
				font-size: 20px;
			}
		}
		.span4{
			padding-top: 55px;
		}
	}
	.menu{
		.btn{
			width: 185px;
			text-align: center;
			&:last-child{
				width: 187px;
			}
		}
		margin: 0 0 15px;
	}
}

.weight_index{
	position: relative;
	width: 620px;
	margin: -30px auto 35px;
	font-size: 14px;
	p{
		margin: 0 0 13px;
	}
}

.weight_edit{
	padding: 10px 0;
	input.text{
		margin: 0 8px;
	}
	.button{
		margin-left: 25px;
	}
	*{
		vertical-align: middle;
	}
}

.add_timeline_read{
	.period{
		.btn-group{
			.btn{
				padding: 0 20px;
				line-height: 35px;
				font-size: 14px;
				font-weight: normal;
			}
			float: left;
		}
		.clearfix;
		margin: 0 0 25px;
	}
	.photo_box{
		.photo{
			&:before{
				content: '';
				position: absolute;
				z-index: 1;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 43px;
				background: url("../images/add_timeline_read_img.png") no-repeat 0 0;
			}
			.photo_counter{
				position: absolute;
				z-index: 2;
				bottom: 3px;
				left: 0;
				width: 100%;
				text-align: center;
				color: #fff;
				font-size: 20px;
			}
			position: relative;
			width: 136px;
			height: 136px;
		}
		padding: 5px 30px 0 0;
	}
	.textarea{
		width: 690px;
		height: 100px;
		margin: 0 0 20px;
		padding: 6px 10px;
	}
	.social_publick{
		li{
			list-style: none;
			float: left;
			width: 16px;
			height: 16px;
			margin: 0 5px 0 0;
			padding: 4px;
			.border-radius(3px);
			&:hover,
			&.selected{
				.box-shadow(0,0,2px,0,#333)
			}
		}
		padding: 10px 0 0 12px
	}
}

.timeline{
	.left_col,
	.right_col{
		float: left;
		width: 475px;
		padding: 25px 0;
	}
	.item{
		position: relative;
		margin: 0 0 15px;
		padding-bottom: 10px;
		color: #7c7b78;
		.arrow{
			position: absolute;
			top: 26px;
			display: block;
			width: 40px;
			height: 18px;
			background: url("../images/timeline_arr.png") no-repeat;
		}
		.edit_block{
			position: absolute;
			right: 12px;
			top: 5px;
			.icons{
				cursor: pointer;
				position: relative;
				.tooltip{
					position: absolute;
					bottom: -33px;
					left: -58px;
					display: none;
				}
				&:hover{
					.tooltip{
						display: block;
					}
				}
			}
			.icon_trash{
				margin-left: 5px;
				.tooltip{
					left: -37px;
				}
			}
		}
		.data{
			margin: 0 0 15px;
			font-style: italic;
		}
		.item_content{
			.clearfix;
			margin: 0 0 8px;
			dt{
				float: left;
				width: 30px;
			}
			dd{
				float: right;
				width: 360px;
			}
		}
		h3{
			margin: 0 0 5px;
		}
		b{
			color: #2b2b29;
		}
		p{
			margin: 0 0 10px;
		}
	}
	.left_col{
		.item{
			width: 402px;
			.arrow{
				right: -40px;
			}
		}
	}
	.right_col{
		padding: 65px 0 0 0;
		.item{
			width: 402px;
			margin-left: 29px;
			.arrow{
				left: -36px;
				background-position: 0 -21px;
			}
		}
	}
	.clearfix;
	position: relative;
	width: 950px;
	background: url("../images/timeline_delimiter.png") repeat-y 473px top;
	margin: 3px 0 55px 0;
	.more{
		position: absolute;
		left: 473px;
		bottom: -60px;
		width: 3px;
		height: 100px;
		background: url("../images/timeline_delimiter_foot.png") no-repeat 0 0;
	}
	.timeline_delimitter{
		.box_border;
		position: relative;
		clear: both;
		width: 100%;
		margin-bottom: 15px;
		padding: 10px 10px 10px 55px;
		font-size: 20px;
		text-align: center;
	}
}