.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 230px;
	color: #fff;
	font-size: 13px;
	background: url("../images/foot_bg.png") repeat 0 0;
	&:before{
		position: absolute;
		top: 1px;
		left: 0;
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #fff;
		opacity: 0.1;
	}
	.wrapper{
		padding: 35px 0 0 0;
	}
	.feedback{
		.icons{
			margin: 0 2px 0 0;
			vertical-align: middle;
		}
		a{
			vertical-align: top;
		}
	}
	a{
		color: #fff;
	}
}