.form_text{
	color: #7f7f7f;
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	font-family: Trebuchet MS;
}
.red{
	color: #fe2200;
}

input.text{
	&:focus{
		border: 1px solid #0facdf;
		.box-shadow(0, 0, 4px, 0, rgba(16, 143, 182, 0.75));
	}
	.form_text;
	.border-radius(3px);
	.box-shadow-inset(0, 2px, 3px, 0, rgba(0, 0, 0, .09));
	.box-sizing(border-box);
	height: 46px;
	line-height: 46px;
	padding: 4px 13px;
	border: 1px solid #ececec;
	&.small{
		height: 36px;
		line-height: 36px;
		font-size: 21px;
	}
	&.normal{
		height: 36px;
		line-height: 36px;
		font-size: 14px;
		font-style: normal;
		color: #353639;
	}
	&.normal_big{
		font-size: 18px;
		font-style: normal;
		color: #353639;
	}
}

.textarea{
	&:focus{
		border: 1px solid #0facdf;
		.box-shadow(0, 0, 4px, 0, rgba(16, 143, 182, 0.75));
	}
	.form_text;
	.border-radius(3px);
	.box-shadow-inset(0, 2px, 3px, 0, rgba(0, 0, 0, .09));
	.box-sizing(border-box);
	padding: 4px 13px;
	border: 1px solid #ececec;
	font-size: 14px;
	font-style: normal;
	color: #353639;
}

.form_field{
	dt,
	dd{
		display: table-cell;
		vertical-align: top;
	}
	dt{
		width: 140px;
		padding-right: 10px;
		font-size: 18px;
		color: black;
		label{
			line-height: 45px;
		}
	}
	dd{
		.required{
			.red;
			margin: 0 4px;
			font-size: 25px;
			vertical-align: top;
		}
		.error{
			.red;
			display: none;
		}
		position: relative;
	}
	&.invalid{
		.error{
			display: block;
			margin: 3px 0 0 0;
		}
	}
	.clearfix();
	margin: 0 0 15px;
}

.required{
	.red;
	margin: 0 4px;
	font-size: 25px;
	vertical-align: top;
}

.help-inline{
	.va-m;
	.form_text;
	font-size: 20px;
}

.birthday{
	.select{
		width: 115px;

		&:first-child{
			width: 85px;
		}

		&.width2{
			width: 170px;
		}
	}
}

.select-large{
	width: 378px;
}

.select-xlarge{
	width: 655px;
}

.data_selector{
	position: relative;
	display: inline-block;
	margin: 0 0 0 4px;
	input{
		width: 118px;
		height: 32px !important;
		line-height: 32px !important;
	}
	.calendar{
		position: absolute;
		top: 5px;
		right: 5px;
	}
}

.search_field{
	position: relative;
	display: inline-block;
	input{
		width: 220px;
	}
	button{
		position: absolute;
		right: 0;
		top: 0;
		height: 36px;
		width: 32px;
		background: none;
		cursor: pointer;
		border: none;
		.icons{
			vertical-align: middle;
		}
	}
}