.graph{
	width: 950px;
	margin: 0 auto 10px;
	position: relative;
	border-left: 2px solid #c7c7c5;
}

.graphics{
	position: relative;
	margin-left: -60px;
	padding: 30px 0 30px 60px;
	border-bottom: 1px solid #c7c7c5;
	.text{
		position: absolute;
		bottom: 6px;
		right: 0;
		font-size: 14px;
	}
}

.range{
	position: absolute;
	top: 20px;
	left: 0;
	width: 60px;
	padding: 0;
	list-style: none;
	color: #7c7b79;
	font-size: 12px;
	line-height: 20px;
	li{
		height: 20px;
		position: relative;
		padding: 0 8px 0 0;
		text-align: right;
		&:before{
			content: '';
			position: absolute;
			top: 10px;
			right: 0;
			width: 5px;
			height: 1px;
			background: #c7c7c5;
		}
	}
}

.pointers-container{
	position: absolute;
	top: 30px;
	left: 60px;
	z-index: 100;
	width: 950px;
	.point{
		.point_ins{
			position: absolute;
			width: 12px;
			height: 12px;
			margin: -6px 0 0 -6px;
			background: #ff7600;
			.border-radius(6px);
		}
		.point_add_data{
			position: absolute;
			width: 11px;
			height: 11px;
			line-height: 10px;
			margin: -6px 0 0 -6px;
			border: 1px solid #ff7600;
			background: #fff;
			color: #ff7600;
			cursor: pointer;
			text-align: center;
			.border-radius(6px);
		}
		.tooltip{
			display: none;
			top: -40px;
			left: -65px;
			width: 100px;
			text-align: center;
		}
		.point_ins_hover{
			display: none;
			position: absolute;
			width: 42px;
			height: 42px;
			line-height: 42px;
			margin: -21px 0 0 -21px;
			background: #ff7600;
			text-align: center;
			font-size: 12px;
			cursor: default;
			color: #fff;
			.border-radius(21px);
		}
		&:hover{
			.point_ins_hover{
				display: block;
			}
			.tooltip{
				display: block;
			}
		}
		position: absolute;
		width: 1px;
		height: 1px;
	}
}

.diagram-container{
	.range{
		li{
			line-height: 500 / 14px;
			height: 500 / 14px;
			&:before{
				top: auto;
				bottom: (500 / 14px)/2;
			}
			&.norma-line{
				&:before{
					z-index: 100;
					width: 994px;
					left: 12px;
					background: #47a73f;
					.box-shadow(0,0,0,1px, rgba(255,255,255,.4));
				}
				position: absolute;
				left: 0;
				bottom: 250px;
				height: 30px;
				line-height: 17px;
				padding-bottom: 25px;
				color: #30a026;
			}
		}
		bottom: (500 / 14px)/2 + 3;
		top: auto;
		z-index: 2;
	}
	position: relative;
	margin-left: -60px;
	padding: 25px 0 0 60px;
}
.diagram{
	li{
		.norma,
		.norma-light-limit{
			position: absolute;
			z-index: 3;
			bottom: 0;
			left: 0;
			width: 100%;
			background: #56dd4a;
		}
		.norma-light-limit{
			z-index: 2;
			background: #f5b436;
		}
		.value{
			position: relative;
			width: 100%;
			overflow: hidden;
			background: #f55e36;
		}
		&.no_data{
			.value{
				background: #ebebeb !important;
			}
			.add_data{
				display: block;
				position: absolute;
				left: 50%;
				bottom: 20%;
				margin-left: -19.5px;
			}
		}
		.count{
			.yellow_block{
				display: inline-block;
				padding: 0 7px;
				font-size: 10px;
				color: #000000;
				line-height: 16px;
				vertical-align: bottom;
				.border-radius(9px);
			}
			height: 20px;
			margin: 0 0 5px;
			text-align: center;
			.icons{
				vertical-align: middle;
			}
		}
		position: relative;
		display: inline-block;
		width: 934 / 12px;
		padding: 0 0 1px 1px;
		vertical-align: bottom;
	}
	&.invert{
		li{
			.norma,
			.norma-light-limit{
				background: #f55e36;
			}
			.norma-light-limit{
				background: #f5b436;
			}
			.value{
				background: #56dd4a;
			}
		}
	}
	.clearfix;
	position: absolute;
	z-index: 1;
	left: 60px;
	bottom: 0;
	width: 946px;
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 2px solid #c7c7c5;
	font-size: 0;
}