@site-width: 950px;

//begin grid
.grid(@ml: 35px) {
	position: relative;
	margin-left: (-1 * @ml);
	.clearfix();
	[class*="span"]{
		float: left;
		margin-left: @ml;
		.box-sizing(border-box);
	}
	.span2{
		width: (@site-width - @ml)/2;
	}
	.span3{
		width: (@site-width - 2*@ml)/3;
	}
	.span4{
		width: (@site-width - 3*@ml)/4;
	}
	.span5{
		width: (@site-width - 4*@ml)/5;
	}
	.span6{
		width: (@site-width - 5*@ml)/6;
	}
	.span7{
		width: (@site-width - 6*@ml)/7;
	}
	.span8{
		width: (@site-width - 7*@ml)/8;
	}
	.span9{
		width: (@site-width - 8*@ml)/9;
	}
	.span10{
		width: (@site-width - 9*@ml)/10;
	}
	.span11{
		width: (@site-width - 10*@ml)/11;
	}
	.span12{
		width: (@site-width - 11*@ml)/12;
	}
}
.row15{
	.grid(15px);
}
.row20{
	.grid(20px);
}
.row25{
	.grid(25px);
}
.row30{
	.grid(30px);
}
.row35{
	.grid(35px);
}

.width1{
	width: 85px;
}
.width2{
	width: 100px;
}
.width3{
	width: 350px;
}
.width4{
	width: 560px;
}
//end grid

.dl{
	display: inline-block
}

.fl-l{
	float: left
}
.fl-r{
	float: right
}
//margin
.mt5{
	margin-top: 5px !important;
}
.mt10{
	margin-top: 10px !important;
}
.mt15{
	margin-top: 15px !important;
}
.mt20{
	margin-top: 20px !important;
}
.mt25{
	margin-top: 25px !important;
}
.mt30{
	margin-top: 30px !important;
}
.mt35{
	margin-top: 35px !important;
}
.mt40{
	margin-top: 40px !important;
}
.mt45{
	margin-top: 45px !important;
}
.mt50{
	margin-top: 50px !important;
}
.mb5{
	margin-bottom: 5px !important;
}
.mb10{
	margin-bottom: 10px !important;
}
.mb15{
	margin-bottom: 15px !important;
}
.mb20{
	margin-bottom: 20px !important;
}
.mb25{
	margin-bottom: 25px !important;
}
.mb30{
	margin-bottom: 30px !important;
}
.mb35{
	margin-bottom: 35px !important;
}
.mb40{
	margin-bottom: 40px !important;
}
.mb45{
	margin-bottom: 45px !important;
}
.mb50{
	margin-bottom: 50px !important;
}
.ml5{
	margin-left: 5px !important;
}
.ml10{
	margin-left: 10px !important;
}
.ml15{
	margin-left: 15px !important;
}
.ml20{
	margin-left: 20px !important;
}

.delimiter{
	position: relative;
	clear: both;
	height: 1px;
	font-size: 0;
	line-height: 1px;
	margin-right: 100px;
	background: url("../images/crossed.png") no-repeat 0 0;
	div{
		position: absolute;
		right: -100px;
		top: 0;
		display: block;
		height: 1px;
		width: 100px;
		font-size: 0;
		line-height: 1px;
		background: url("../images/crossed.png") no-repeat right top;
	}
}

.yellow_block{
	position: relative;
	padding: 15px;
	background: #fff1a4;
	color: #424241;
	border: 1px solid #eadc90;
	.border-radius(3px);
	.yellow_block_arr1{
		position: absolute;
		top: -26px;
	}
	.yellow_block_arr2{
		position: absolute;
		bottom: -26px;
	}
	.block_close{
		position: absolute;
		top: 6px;
		right: 8px;
		font-size: 11px;
		line-height: 12px;
		border-bottom: 1px dotted;
		cursor: pointer;
		&:hover{
			border: none;
		}
	}
}

.tooltip{
	.yellow_block;
	position: relative;
	display: inline-block;
	padding: 4px 15px;
	font-size: 12px;
	line-height: 16px;
	color: #222222;
	.border-radius(7px);
	&:after{
		content: '';
		position: absolute;
		top: -10px;
		left: 0;
		display: block;
		height: 10px;
		width: 100%;
	}
	&:before{
		content: '';
		position: absolute;
		top: -7px;
		left: 50%;
		margin-left: -5px;
		display: block;
		height: 7px;
		width: 10px;
		background: url("../images/icons.png") no-repeat -105px -70px;
	}
	&.bc{
		&:after{
			top:auto;
			bottom: -10px;
		}
		&:before{
			top:auto;
			bottom: -7px;
			background-position: -210px -70px;
		}
	}
}

.box_border{
	&.gradient{
		background: #fff url("../images/box_border_gradient.png") repeat-x 0 0;
	}
	.box-shadow(1px, 1px, 2px, 0, rgba(0,0,0,.07));
	.border-radius(3px);
	position: relative;
	padding: 20px;
	background: #fff;
	border: 1px solid #f0f0f0;
	.top_arr{
		position: absolute;
		top: -15px;
		right: 55px;
	}
}

.w860 {
	width: 860px;
	margin: 0 auto;
}
