.header{
	position: relative;
	width: 100%;
	padding: 15px 0 25px 0;
	background: #fff;
	.header-after{
		position: absolute;
		left: 0;
		bottom: -8px;
		width: 100%;
		height: 8px;
		background: url("../images/head_after.png") repeat-x 0 0;
	}
	.logo{
		float: left;
		margin: 0 20px 0 0;
	}
	.userbar{
		float: right;
		padding: 0 0 0 10px;
		.username,
		.settings,
		.logout{
			float: left;
			margin: 0 0 0 15px;
		}
		.username,
		.settings{
			padding: 4px 0 0 0;
		}
		.icons{
			margin: 0 3px 0 0;
			vertical-align: top;
			&.key {
				vertical-align: middle;
			}
		}
	}
	.social_buttons{
		padding: 4px 0 0 0;
		float: right;
	}
}

.search_form{
	position: relative;
	input{
		position: relative;
		height: 28px;
		width: 140px;
		line-height: 28px;
		padding: 0 35px 0 11px;
		color: #a2a2a2;
		font-family: Trebuchet MS;
		border: 1px solid #ececec;
		.box-shadow-inset(0, 1px, 2px, 0, rgba(0, 0, 0, 0.09));
		.border-radius(15px);
		.placeholder(#dedede, italic, 13px);
	}
	button{
		position: absolute;
		right: 0;
		top: 0;
		height: 30px;
		width: 32px;
		background: none;
		cursor: pointer;
		border: none;
		.icons{
			vertical-align: middle;
		}
	}
}

.main_menu{
	.clearfix();
	padding: 3px 0 0 0;
	float: left;
	li{
		float: left;
		margin-right: 35px;
		list-style: none;
		a{
			color: #a2a2a2;
			text-decoration: none;
			font-size: 18px;
			&:hover{
				color: #737373;
				text-decoration: underline;
			}
		}
	}
}