.icons{
	display: inline-block;
	background: url("../images/icons.png") no-repeat 0 0;
	&.icon_user{
		height: 20px;
		width: 21px;
		background-position: 0 0;
	}
	&.icon_settings{
		height: 23px;
		width: 22px;
		background-position: 0 -35px;
	}
	&.icon_photo{
		height: 18px;
		width: 22px;
		background-position: 0 -70px;
	}
	&.icon_search{
		height: 18px;
		width: 16px;
		background-position: 0 -105px;
	}
	&.icon_edit{
		height: 19px;
		width: 19px;
		background-position: 0 -140px;
	}
	&.icon_trash{
		height: 10px;
		width: 8px;
		background-position: -35px 0;
	}
	&.icon_trash{
		height: 10px;
		width: 8px;
		background-position: -35px 0;
	}
	&.icon_edit2{
		height: 10px;
		width: 8px;
		background-position: -35px -35px;
	}
	&.icon_mail{
		height: 9px;
		width: 12px;
		background-position: -35px -70px;
	}
	&.icon_close{
		height: 17px;
		width: 17px;
		background-position: -35px -105px;
	}
	&.icon_check{
		height: 25px;
		width: 28px;
		background-position: -35px -140px;
	}
	&.icon_note{
		height: 33px;
		width: 27px;
		background-position: -70px 0;
	}
	&.icon_bookmark{
		height: 31px;
		width: 23px;
		background-position: -70px -35px;
	}
	&.icon_photoupload{
		height: 31px;
		width: 28px;
		background-position: -70px -70px;
	}
	&.icon_info{
		height: 30px;
		width: 28px;
		background-position: -70px -105px;
	}
	&.icon_alert{
		height: 28px;
		width: 32px;
		background-position: -70px -140px;
	}
	&.icon_block{
		height: 28px;
		width: 26px;
		background-position: -105px 0;
	}
	&.icon_add{
		height: 30px;
		width: 28px;
		background-position: -105px -35px;
	}
	&.yellow_block_arr1{
		height: 26px;
		width: 16px;
		background-position: -140px 0;
	}
	&.yellow_block_arr2{
		height: 26px;
		width: 17px;
		background-position: -140px -35px;
	}
	&.refresh{
		height: 17px;
		width: 20px;
		background-position: -140px -70px;
	}
	&.calendar{
		height: 21px;
		width: 20px;
		background-position: -140px -105px;
	}
	&.top_arr{
		height: 15px;
		width: 15px;
		background-position: -140px -140px;
	}
	&.add{
		height: 39px;
		width: 39px;
		background-position: -175px 0;
		vertical-align: top;
	}
	&.next{
		height: 34px;
		width: 34px;
		background-position: -175px -70px;
	}
	&.prev{
		height: 34px;
		width: 34px;
		background-position: -175px -105px;
	}
	&.key{
		height: 6px;
		width: 11px;
		background-position: -175px -140px;
	}
	&.ok{
		height: 8px;
		width: 9px;
		background-position: -210px -140px;
	}
	&.no_ok{
		height: 9px;
		width: 9px;
		background-position: -210px -105px;
	}
}