.index-first{
	background: url('../images/vegetables.jpg') 50% 0 no-repeat;
	padding-bottom: 35px;

	.wrapper{
	}

	.steps{
		padding: 0;
		list-style: none;
		margin-top: 30px;
		margin-bottom: 45px;
		.clearfix;

		li{
			float: left;

			em{
				color: #7b7b7b;
			}

			&.step1{
				width: 260px;
				padding: 0 50px 0 0;
				margin-right: 30px;
				background: url('../images/arrowcorner.png') right center no-repeat;
			}

			&.step2{
				width: 290px;
				padding: 0 50px 0 0;
				margin-right: 30px;
				background: url('../images/arrowcorner.png') right center no-repeat;
			}

			&.step3{
				width: 280px;
			}
		}
	}
}

.index-second{
	padding-bottom: 35px;
	#gradient .vertical
(
#f6f8f8, #fff
)
;

.steps{
	.clearfix;
	padding: 0;
	list-style: none;
	position: relative;
	margin-left: -25px;
	margin-bottom: 45px;

	li{
		width: 178px;
		float: left;
		margin-left: 25px;

		strong{
			color: #000;
			font-size: 15px;
		}

		.image{
			height: 145px;
			background-image: url('../images/steps_images.png');
			background-repeat: no-repeat;
			background-position: 200px 0;
		}

		p{
			color: #a2a2a2;
			font-size: 14px;

			&:hover{
				color: #696969;
			}
		}

		&.step1 .image{
			background-position: 0 0;
		}

		&.step2 .image{
			background-position: 0 -145px;
		}

		&.step3 .image{
			background-position: 0 -290px;
		}

		&.step4 .image{
			background-position: 0 -435px;
		}

		&.step5 .image{
			background-position: 0 -580px;
		}
	}
}
	}

.index-third{
	.newusers{
		padding: 0;
		list-style: none;
		position: relative;
		margin-left: -25px;
		margin-bottom: 40px;
		.clearfix;

		li{
			width: 228px;
			float: left;
			margin-left: 25px;

			.user-box{
				position: relative;
				background: #fff;
				padding: 6px;
				border: 1px solid #f3f3f3;
				.border-radius;
				.box-shadow(0, 2px, 3px, 0, #ededed);
			}

			.user-photo{
				img{
					.border-radius(3px);
				}
			}

			var{
				position: absolute;
				top: 123px;
				left: -5px;
				width: 70px;
				padding-left: 9px;
				height: 33px;
				line-height: 30px;
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				font-style: normal;
				text-shadow: 0 1px 1px rgba(93, 148, 12, 0.75);
				background: url('../images/badge.png') no-repeat;
			}

			em{
				color: #dedede;
			}

			.user-info{
				font-size: 13px;
				padding: 6px;
			}
		}
	}
}
.fb-like,
#vk_like{
	vertical-align: top !important;
}