.items-product{
	margin: 0;
	padding: 0;
	list-style: none;
	color: #000;

	li{
		.box_border;
		padding: 5px 20px;
		margin-bottom: 12px;
		overflow: hidden;

		.item-image{
			float: left;
			width: 100px;
			text-align: center;
			padding-right: 20px;
		}

		.item-description{
			float: left;
			max-width: 300px;
			height: 70px;
			vertical-align: middle;
		}

		.item-actions{
			float: right;
			max-width: 420px;
			text-align: right;
			vertical-align: middle;
			height: 70px;

			.button{
				margin-left: 25px;
				margin-top: 1px;
			}

			.width1{
				padding: 3px 10px;
			}

			.yellow{
				font-size: 21px;
			}

			*{
				vertical-align: middle;
			}
		}
	}
}

.items-diary{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 18px;
	color: #7c7b79;

	li{
		.box_border;
		.border-radius(3px);
		padding: 10px;
		margin-bottom: 12px;
		overflow: hidden;

		.item-image{
			float: left;
			width: 140px;
			padding-right: 25px;

			img{
				.border-radius(3px);
			}
		}

		.item-description{
			float: left;
			max-width: 530px;
			padding: 5px 0;
		}

		.item-actions{
			float: right;
			width: 140px;
			padding: 21px 0;
			text-align: center;
		}

		strong{
			color: #2c2b29;
		}
	}
}

.product-list{
	li{
		.clearfix;
		margin: 0 0 2px;
		padding: 15px;
		background: #f1faff;
	}
	.action{
		a{
			margin: 0 0 0 5px;
		}
		*{
			vertical-align: middle;
		}
		.fl-r;
	}
	width: 100%;
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
}