.box-sizing(@boxmodel) {
	-webkit-box-sizing: @boxmodel;
	-moz-box-sizing: @boxmodel;
	box-sizing: @boxmodel;
}
.background-size(@background-size) {
	-moz-background-size: @background-size;
	-o-background-size: @background-size;
	-webkit-background-size: @background-size;
	background-size: @background-size;
}
.border-radius(@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
.box-shadow(@x: 0, @y: 0, @blur: 1px, @z, @color: #000) {
	-webkit-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	box-shadow: @arguments;
}
.box-shadow-inset(@x: 0, @y: 0, @blur: 1px, @z, @color: #000) {
	-moz-box-shadow: inset @arguments;
	-webkit-box-shadow: inset @arguments;
	box-shadow: inset @arguments;
}
.text-shadow(@x: 0, @y: 0, @blur: 1px, @color: #000) {
	-moz-text-shadow: @arguments;
	-webkit-text-shadow: @arguments;
	text-shadow: @arguments;
}
.placeholder(@color, @font-style, @font-size) {
	&:-moz-placeholder{
		color: @color;
		font-style: @font-style;
		font-size: @font-size;
	}
	&:-ms-input-placeholder{
		color: @color;
		font-style: @font-style;
		font-size: @font-size;
	}
	&::-webkit-input-placeholder{
		color: @color;
		font-style: @font-style;
		font-size: @font-size;
	}
}
#gradient{
	.horizontal(@startColor: #555, @endColor: #333) {
		background-color: @endColor;
		background-image: -moz-linear-gradient(left, @startColor, @endColor); // FF 3.6+
		background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
		background-image: -webkit-linear-gradient(left, @startColor, @endColor); // Safari 5.1+, Chrome 10+
		background-image: -o-linear-gradient(left, @startColor, @endColor); // Opera 11.10
		background-image: linear-gradient(to right, @startColor, @endColor); // Standard, IE10
		background-repeat: repeat-x;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@startColor), argb(@endColor))); // IE9 and down
	}
	.vertical(@startColor: #555, @endColor: #333) {
		background-color: mix(@startColor, @endColor, 60%);
		background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
		background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
		background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
		background-image: linear-gradient(to bottom, @startColor, @endColor); // Standard, IE10
		background-repeat: repeat-x;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor), argb(@endColor))); // IE9 and down
	}
}
// Opacity
.opacity(@opacity) {
	opacity: @opacity / 100;
	filter: ~"alpha(opacity=@{opacity})";
}
.clearfix{
	*zoom: 1;
	&:before,
	&:after{
		display: table;
		content: ""; // Fixes Opera/contenteditable bug:
	// http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
		line-height: 0;
	}
	&:after{
		clear: both;
	}
}

// Perfect circle
.img-circle{
	.border-radius(500px); // crank the border-radius so it works with most reasonably sized images
}

// IE7 inline-block
// ----------------
.ie7-inline-block() {
	*display: inline; /* IE7 inline-block hack */
	*zoom: 1;
}
.gray{
	color: #a2a2a2
}
.gray1{
	color: #7c7b79;
}
.black{
	color: #2b2b29;
}
.yellow{
	color: #ff7600 !important;
}
.blue_dotted{
	color: #1591d2;
	border-bottom: 1px dotted #1591d2;
	text-decoration: none;
	&:hover{
		border: none;
	}
}

//text align
.txt-l{
	text-align: left
}
.txt-r{
	text-align: right
}
.txt-c{
	text-align: center
}
.va-t{
	vertical-align: top;
}
.va-m{
	vertical-align: middle;
}
.va-b{
	vertical-align: bottom;
}
.va-bl{
	vertical-align: baseline;
}

.vam {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	height: 100%;
	width: 1px;
	overflow: hidden;
}

.vam-c {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
}

.m-c{
	margin: 0 auto;
}

//font size
.fs11{
	font-size: 11px;
	line-height: 14px;
}
.fs12{
	font-size: 12px;
	line-height: 15px;
}
.fs14{
	font-size: 14px;
	line-height: 17px;
}
.fs16{
	font-size: 16px;
	line-height: 20px;
}
.fs18{
	font-size: 18px;
	line-height: 22px;
}
.fs20{
	font-size: 20px;
	line-height: 25px;
}
.fs21{
	font-size: 21px;
	line-height: 25px;
}
.fs24{
	font-size: 24px;
	line-height: 30px;
}
.fs26{
	font-size: 26px;
	line-height: 30px;
}
.fs30{
	font-size: 30px;
	line-height: 35px;
}
.fs37{
	font-size: 37px;
	line-height: 40px;
}
.fs50{
	font-size: 50px;
	line-height: 55px;
}