.overlay{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: #353639;
	.opacity(80);
}

.modal{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1100;
	width: 436px;
	margin-left: -213px;
	padding: 7px;
	background: url("../images/modal_bg.png") repeat 0 0;
	.border-radius(2px);
	> .inset{
		position: relative;
		padding: 15px 25px;
		background: #f9f9f9;
		.border-radius(3px);
	}
	.icon_close{
		position: absolute;
		right: 16px;
		top: 14px;
		cursor: pointer;
	}
	.title{
		h2{
			display: inline-block;
			font-size: 18px;
			vertical-align: middle;
		}
		.icons{
			margin-right: 10px;
			vertical-align: middle;
		}
		margin: 0 0 15px;
	}
	textarea.textarea,
	input.text{
		padding-left: 7px;
		padding-right: 7px;
	}
}