html{
	width: 100%;
	height: 100%;
	font-size: 100%;
}
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font: 14px/20px Trebuchet MS, sans-serif;
	color: #696969;
	background: #fff url("../images/bg.jpg") 0 0;
}

a{
	color: #04a9ff;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
	img{
		border: 0;
		vertical-align: top;
	}
}
:focus, a:active{
	outline: none;
}

.head(@x: 30px, @y: normal, @c: #2b2b2b) {
	padding: 0;
	line-height: 130%;
	font-style: normal;
	font-weight: @y;
	font-size: @x;
	font-family: Trebuchet MS, sans-serif;
	color: @c;
}
h1{
	margin: 0;
	.head (48px);
}
h2{
	margin: 0;
	.head (26px, normal, #4b4b4b);
}
h3{
	margin: 0 0 15px;
	.head (16px, bold, #000000);
}
h4{
	margin: 0;
	.head (18px);
}
h5{
	margin: 0;
	.head (16px);
}

dl, dt, dd, form{
	margin: 0;
	padding: 0;
}
hr{
	clear: both;
	height: 1px;
	margin: 15px 0;
	padding: 0;
	background: #dfdfdf;
	border: 0 none;
	color: #dfdfdf;
}
p{
	margin: 0 0 15px;
	padding: 0;
}
pre, code{
	display: block;
	margin: 1em 0;
	padding: 5px;
	overflow-x: auto;
	background-color: #fffaeb;
	border: 1px dashed #e54803;
	font-family: "Lucida Console", monospace;
}
table{
	border-spacing: 0;
	border-collapse: inherit;
}
table td{
	padding: 0;
	text-align: left;
	vertical-align: top;
}
table.table{
	width: 100%;
	margin: 0 0 20px 0;
	background: #fff;
	.box-shadow(2px, 2px, 3px, 0, rgba(0, 0, 0, 0.4));
	th{
		padding: 15px 20px;
		line-height: 20px;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		text-align: left;
		border: 1px solid #56a64f;
		border-left: 1px solid #12690f;
		border-right: 1px solid #71b95f;
		#gradient > .vertical(#84b33d, #12951d);
		.text-shadow(1px, 1px, 0, #227f17);
		&:first-child{
			border-left: 1px solid #56a64f;
			.border-radius(4px 0 0 0);
		}
		&:last-child{
			border-right: 1px solid #56a64f;
			.border-radius(0 4px 0 0);
		}
	}
	td{
		padding: 10px 20px;
		color: #696969;
		border: 1px solid transparent;
	}
	tr{
		&:nth-child(odd){
			td{
				background: #eeeeee;
				border-top-color: #e7e7e7;
				border-bottom-color: #f5f5f5;
			}
		}
	}
}

ul, ol{
	margin: 0;
	padding: 10px 15px;
}
.custom_ul{
	padding: 15px 0;
	font-size: 16px;
	list-style: none;
	li{
		margin: 0 0 10px;
		padding: 0 0 0 33px;
		background: url("../images/custom_ul.png") no-repeat left -51px;
		line-height: 19px;
		ul{
			padding: 25px 0 7px;
			li{
				margin: 0 0 8px 0;
				padding: 0 0 0 37px;
				list-style: none;
				line-height: 16px;
				background-position: -31px -19px;
				font-size: 14px;
				.gray();
			}
		}
	}
}

.accentuated{
	background: #fdf5b7;
}

select{
	vertical-align: middle;
}
input{
	margin: 0;
	vertical-align: middle;
}
form :focus, form a:active{
	outline: none;
}
button{
	margin: 0;
	padding: 0;
	background: #b22222;
	border: none;
	padding: 0;
	span{
		display: block;
		padding: 10px 30px;
		background: #9acd32;
	}
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
	border: none;
	padding: 0;
	margin: 0;
}

.img{
	display: block;
	background: #fff;
	padding: 10px;
	.border-radius();
	.box-shadow(1px, 1px, 4px, 0, rgba(0, 0, 0, 0.15));
	&.fl-r{
		margin: 0 0 10px 25px;
	}
	&.fl-l{
		margin: 0 25px 10px 0;
	}
}
table.crossed{
	width: 100%;
	td.title{
		padding: 0 10px;
		color: #2b2b2b;
		font-style: italic;
		white-space: nowrap;

		var {
			font-size: 44px;
			color: #ff7f11;
		}
	}
	td.left,
	td.right{
		width: 50%;
		background: url("../images/crossed.png") no-repeat;
	}
	td.left{
		background-position: left center;
	}
	td.right{
		background-position: right center;
	}
}

.link{
	color: #04a9ff;
	border-bottom: 1px solid #ccedfd;
	text-decoration: none;
	&:hover{
		border-bottom: none;
	}
}