.search-page {
	.w860;
	
	.product-add {
		padding: 15px 0;
	}
	
	.search-about {
		width: 660px;
        margin: 0 0 35px;
		font-style: italic;
		color: #7c7b79;
		font-size: 13px;
		
		strong {
			color: #000;
		}
	}

	.big-search {
		margin-bottom: 10px;
		.clearfix;
		
		input.text {
			float: left;
			width: 660px;
			height: 56px;
		}
		
		.button {
			float: right;
			height: 54px;
			line-height: 54px;
			font-size: 20px;
			margin-left: 10px;
			padding: 0 20px;
		}
	}
}