@social-icon: 16px;

.social-icons {
	ul {
		margin-left: -10px;
		padding: 0;
		list-style: none;
		.clearfix;
		
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

.social-ico {
	width: 16px;
	height: 16px;
	display: inline-block;
	*display: inline;
	background: url('../images/social_icons.png') no-repeat;
	background-position: 0 @social-icon * -1;
	
	&.vk {
		background-position: @social-icon * 0 0;
	}	
	&.fb {
		background-position: @social-icon * -1 0;
	}	
	&.tw {
		background-position: @social-icon * -2 0;
	}	
	&.mm {
		background-position: @social-icon * -3 0;
	}	
	&.ya {
		background-position: @social-icon * -4 0;
	}	
	&.gp {
		background-position: @social-icon * -5 0;
	}	
	&.od {
		background-position: @social-icon * -6 0;
	}
	
	a {
		width: 100%;
		height: 100%;
		display: block;
	}
}
