@import 'mixins.less';
@import 'reset.less';
@import 'grid.less';
@import 'social.less';
@import 'header.less';
@import 'icons.less';
@import 'button.less';
@import 'footer.less';
@import 'form.less';
@import 'modal.less';
@import 'items.less';
@import 'search.less';
@import 'diary.less';
@import 'analitic.less';
@import 'index.less';
@import 'graph.less';
@import 'select2.less';

.body{
	position: relative;
	min-height: 100%;
	height: 100%;
	&.decor{
		background: url("../images/bg1.jpg") no-repeat 50% 180px;
	}
}
html>body .body{
	height: auto;
}
.wrapper{
	.clearfix;
	width: 950px;
	margin: 0 auto;
	padding: 0 15px;
}
.content{
	padding: 25px 0 265px;
}

.settings-avatar {
	position: absolute;
	margin: -40px 0 0 -20px;
}

.shadow-after {
	display: block;
	width: 100%;
	height: 30px;
	background: url("../images/head_after.png") repeat-x 0 0;
}

.num {
	display: inline-block;
	*display: inline;
	width: 46px;
	height: 68px;
	line-height: 67px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	background: url('../images/num.png') no-repeat;
	color: #000;
	vertical-align: middle;
}
