{% extends 'common/base.tpl' %}

{% block title %}
<title>Симплфит - О проекте</title>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
<div class="content wrapper">

    <table class="crossed mb30 fs30">
        <td class="left"></td>
        <td class="title">О проекте</td>
        <td class="right"></td>
    </table>

    <div class="mb30">
        <p>Simplefit - это современный инструмент для управления красотой Вашего тела.</p>

        <p>Управляйте вашим весом, следуя простым и давно проверенным способам, а инструменты предоставляемые
            Simplefit помогут Вам в этом.</p>
    </div>

    <h2 class="mb15">Поставьте цель</h2>

    <div class="clearfix">

        <p>Хотите похудеть, набрать вес или начать правильно питаться? Укажите цель при регистрации или в любой
            другой момент использования сайта. Simplefit рассчитает индекс массы тела и Ваш идеальный вес.</p>

    </div>

    <h2 class="mb15">Ведите дневник питания</h2>

    <div class="clearfix">

        <p>Учитывайте калории и наблюдайте за результатом в дневнике питания. Оптимизируйте свой рацион на основе
            истории ваших успехов. Просто введите название блюда, а сервис сам посчитает калории.</p>

    </div>

    <h2 class="mb15">Составьте персональную диету</h2>

    <div class="clearfix">

        <p>Мощная система статистики, использующая данные из Вашего дневника питания, поможет систематизировать
            полученные от вас данные и покажет самые эффективные и неэффективные дни за выбранный вами период.
            Используя эту информацию, вы сможете составить собственную диету, максимально подходящую Вам.</p>
    </div>

    <h2 class="mb15">Следите за успехами</h2>

    <div class="clearfix">

        <p>Следите за достижением цели на графиках веса и потреблённых калорий за выбранный вами период.</p>

    </div>

    <h2 class="mb15">Расскажите друзьям</h2>

    <div class="clearfix">

        <p>Делитесь своими успехами с друзьями в популярных социальных сетях.</p>
    </div>

    <h2 class="mb15">Ваши рецепты в нашем списке</h2>

    <div class="clearfix">

        <p>Если в нашем списке не найдётся продукта или блюда из вашего рациона просто добавьте его и он сразу
            станет доступен для добавления в ваш дневник, а после прохождения проверки и для остальных пользователей
            сервиса.</p>
    </div>

    <h2 class="mb15">Реальные результаты</h2>

    <div class="clearfix">

        <p>Периодическое обновление фотографии профиля поможет вам увидеть реальные изменения вашего тела за весь
            период.</p>
    </div>

    <h2 class="mb15">Для любой диеты</h2>

    <div class="clearfix">

        <p>Сервисы сайта Simplefit подходят для соблюдения любой диеты.</p>
    </div>

</div>
{% endblock %}
