{% extends 'common/base.tpl' %}

{% block title %}
<title>Симплфит - Подтверждение email адреса</title>
{% endblock %}

{% block content %}
<div class="content wrapper">
    <div style="text-align: center">Неверный код</div>
</div>
{% endblock %}