{% extends 'common/base.tpl' %}
{% block title %}
    <title>Симплфит - Отписаться от рассылки</title>
{% endblock %}

{% block content %}
    <div class="content wrapper">
        <h1 style="text-align: center">Вы отписаны от рассылки</h1>
    </div>
{% endblock %}