{% extends 'common/base.tpl' %}

{% block title %}
<title>Симплфит - Пользовательское соглашение</title>
{% endblock %}

{% block content %}
<div class="content wrapper">

    <table class="crossed mb30 fs30">
        <td class="left"></td>
        <td class="title">Пользовательское соглашение</td>
        <td class="right"></td>
    </table>

    <div class="mb30">
        <p>1. Данный сервис (далее – «Сайт») является системой для ведения дневников питания, управляемой Обществом
            с ограниченной ответственностью СимплФит (далее – «Симплфит»).</p>

        <p>2. Настоящее Соглашение об условиях пользования сайтом (далее – «Правила» или «Соглашение») применяются к
            любому использованию Сайта и к любым сообщениям, электронным письмам, любой размещаемой информации с
            использованием Сайта или схожих сервисов, обслуживаемых Симплфитом (далее – «Сообщения»).</p>

        <p>3. Используя Сайт, Вы подтверждаете, что Вам больше 18 лет и что Вы имеете право принять настоящие
            Правила.</p>

        <p>4. Используя Сайт, Вы соглашаетесь с настоящими Правилами и принимаете их условия.</p>

        <p>5. Если Вы не принимаете настоящие Правила, Вы не можете пользоваться Сайтом и не должны оставлять
            Сообщения на Сайте.</p>

        <p>6. Симплфит может внести изменения в настоящие Правила в любое время и эти изменения вступают в силу
            немедленно после размещения по адресу <a href='http://simplefit.ru/license/'>http://simplefit.ru/license/</a>
        </p>

        <p>7. Используя Сайт, Вы подтверждаете, что у Вас есть необходимое оборудование, программное обеспечение и
            возможность пользоваться Сайтом, электронная почта и доступ в Интернет. Вы понимаете и соглашаетесь, что
            Симлфит не несет ответственности за то, как Сайт будет работать с Вашей системой.</p>

    </div>

    <h2 class="mb15">Пользование сайтом</h2>

    <div class="clearfix">

        <p>1. Вы можете пользоваться Сайтом исключительно в личных некоммерческих целях.</p>

        <p>2. Вы не можете передавать свое право пользования Сайтом другим лицам без предварительного письменного
            согласия Симплфита.</p>

        <p>3. Соответственно Вы обязуетесь не:</p>

        <p>• использовать Сайт для любых коммерческих и бизнес целей;</p>

        <p>• использовать свой доступ к Сайту или информацию, полученную на Сайте, для рассылки незапрошенных
            сообщений, электронных писем и т.д.;</p>

        <p>• вступать без согласия Симплфита в сделки с другими пользователями Сайта, не предлагать другим
            пользователям вступать в сделки в отношении любых товаров, работ или услуг; не использовать Сайт для
            распространения рекламы или незаконной пропаганды.</p>

    </div>

    <h2 class="mb15">Авторские права, права на товарные знаки и другие объекты интеллектуальной собственности</h2>

    <div class="clearfix">

        <p>Все права программное обеспечение, дизайн, базы данных, патенты и любые права на изобретения, ноу-хау,
            коммерческие наименования, секреты производства, товарные знаки и обозначения товаров и услуг (как
            зарегистрированные, так и незарегистрированные) и любые их части (далее – «Права на интеллектуальную
            собственность»), размещенные на Сайте, принадлежат Симплфиту, если не указывается иное. Все указанные
            права закреплены за Симплфитом.</p>

    </div>

    <h2 class="mb15">Сообщения</h2>

    <div class="clearfix">

        <p>1. Симплфит оказывает услуги по развлечению и информационные услуги и как следствие занимается передачей,
            хранением, обработкой, переводом и другими действиями с сообщениями третьих лиц без их отбора или
            изменения их содержания.</p>

        <p>2. Вы соглашаетесь, что Симплфит не обязан проверять содержание Сообщений на Сайте и все Сообщения
            размещаются на Сайте с условием, что Симплфит не обязан контролировать или оценивать их или входящие в
            них материалы.</p>

        <p>3. Мнения, высказанные в Сообщениях – это мнения их авторов, а не Симплфита, если Симплфит не заявляет об
            обратном. В частности, но не ограничиваясь этим, Симплфит не несет ответственности за любые комментарии,
            точки зрения или замечания, выраженные в Сообщениях.</p>

        <p>4. Симплфит не дает гарантий относительно точности, достоверности и надежности информации и материалов,
            содержащихся в Сообщениях или на Сайте, и не несет ответственности за любые убытки или ущерб,
            наступившие в результате использования таких материалов.</p>

        <p>5. Если вы недовольны содержанием Сообщений или Сайта, обратитесь к Симплфит.</p>

        <p>6. Симплфит имеет право удалить полностью или частично, а также редактировать Сообщения по своему
            усмотрению.</p>

        <p>7. Симплфит имеет право использовать информацию о пользователях, а также материалы, опубликованные Вами
            на Сайте и находящиеся в открытом доступе, в частности, в целях разработки рекламных материалов,
            размещения материалов на сайтах партнеров Симплфита и в других целях.</p>

        <p>8. Вы соглашаетесь, что не будете использовать Сайт таким образом или размещать или передавать через Сайт
            заявления, материалы и Сообщения, которые:</p>

        <p>• являются незаконными и могут повлечь гражданскую, уголовную или административную ответственность;</p>

        <p>• нарушает права третьих лиц на объекты интеллектуальной собственности;</p>

        <p>• содержат вредоносные объекты, такие как компьютерные вирусы, трояны, черви, логические бомбы или другие
            вредоносные программы или данные;</p>

        <p>• являются или могут быть истолкованы как оскорбительные, порнографические, агрессивные, клеветническими,
            дискриминационными, призывающими к насилию, непристойными, возбуждающими ненависть или расистскими;</p>

        <p>• могут считаться деловыми или коммерческими сообщениями, а Сообщения, направленные на продвижение
            товаров, работ или услуг любых лиц, кроме Симплфита или Сайта;</p>

        <p>• поддерживают любые противоправные действия, в том числе, но не исключительно, терроризм,
            домогательства, азартные игры или продажу рецептурных медицинских препаратов, оружия или наркотиков;</p>

        <p>• адресованы лицам, не достигшим 18 лет, или имеют целью организацию встречи с лицами, не достигшими 18
            лет, с намерением их совращения, или могут повлечь такую встречу;</p>

        <p>• содержат любые запрещенные материалы, в том числе, но не исключительно, пароли, медицинскую информацию,
            засекреченную государственную или военную информацию или конфиденциальную информацию о любых лицах;</p>

        <p>• причиняет ущерб репутации Сайта или Симплфита или оправдывает, поощряет, поддерживает или провоцирует
            вышеперечисленное.</p>

        <p>9. Вы соглашаетесь защищать Симплфит от ответственности, являющейся следствием Вашего пользования
            услугами Симплфита и Ваших Сообщений.</p>
    </div>

    <h2 class="mb15">Пожалуйста, обратите внимание</h2>

    <div class="clearfix">

        <p>Вы используете Сайт исключительно на свой риск. Сайт не предоставляет медицинских услуг и консультаций.
            Для использования Сайта и его сервисов может понадобиться консультация у вашего врача. Используя Сайт и
            его услуги, Вы понимаете и соглашаетесь со всеми рисками, которые могут возникнуть в ходе его
            использования.</p>

    </div>

    <h2 class="mb15">Приватность</h2>

    <div class="clearfix">

        <p>1. Когда Вы регистрируетесь на Сайте, Симплфит может попросить Вас предоставить некоторую информацию, и
            Вы можете предоставить ее. Симплфит также может сохранять данные о том, какими услугами интересуются
            пользователи Сайта, а также о траффике и использовании Сайта. Эта информация может использоваться
            для:</p>

        <p>• обработки Ваших Сообщений и для того, чтобы дать Вам возможность пользоваться Сайтом и услугами;</p>

        <p>• предоставления Вам своевременных, эффективных и надежных услуг;</p>

        <p>• создания и поддержания Вашего аккаунта;</p>

        <p>• проведения розыгрышей призов;</p>

        <p>• общего управления Сайтом;</p>

        <p>• подбора и персонализации контента, которым Вы пользуетесь на Сайте, и сообщений, направляемых Вам
            Симплфитом;</p>

        <p>• модерации контента, который Вы размещаете на Сайте. В этих целях вся необходимая информация, включая
            IP-адрес может предоставляться третьей стороне;</p>

        <p>• установления запрета пользователю на использование Сайта по единоличному усмотрению Симплфита, в случае
            нарушения пользователем настоящих Правил.</p>

        <p>2. Предоставляя информацию, Вы выражаете свое согласие на такое использование.</p>

        <p>3. Симплфит может использовать полученную информацию для подбора рекламных материалов третьих лиц,
            которые могут быть Вам интересны. При этом не будет происходить передачи информации, позволяющей
            идентифицировать Вас.</p>
    </div>

    <h2 class="mb15">Ответственность</h2>

    <div class="clearfix">

        <p>1. Симплфит предоставляет и обслуживает Сайт для Вашего развлечения по принципу «как есть».</p>

        <p>2. Симплфит ответственен только за предоставление услуг с разумной заботой и не дает других гарантий
            относительно Сайта;</p>

        <p>3. В соответствии с вышесказанным, Симплфит не несет ответственности за убытки и ущерб любого рода,
            включая без ограничения прямой ущерб, упущенную выгоду, даже если таковые явились следствием
            обстоятельств, о которых Вы уведомляли Симплфит, и Симплфит не будет обязана выплачивать компенсации в
            том числе, но, не ограничиваясь, в случаях, связанных с:</p>

        <p>• Любой неточностью информации на Сайте, а также перерывами и задержками в оказании услуг;</p>

        <p>• Нарушением любым лицом любых прав на объекты интеллектуальной собственности третьих лиц, связанным с
            использованием Сайта;</p>

        <p>• Любыми убытками, причиненными воздействием вирусов или иного вредоносного программного обеспечения,
            которое может поражать программное обеспечение и компьютер пользователя, повреждать данные и иные
            объекты, если это явилось следствием доступа на Сайт, использования Сайта или получения сообщений
            электронной почты от Симплфита и ее партнеров;</p>

        <p>• Доступностью, качеством, содержанием и природой других сайтов в сети Интернет, которые принадлежат и
            управляются третьими лицами («Сторонние сайты»), ссылки на которые есть на Сайте, а также любыми
            действиями с Сторонними сайтами (касающимися файлов «куки», персональных данных, конфиденциальной
            информации, покупки доменных имен и т.д.). По таким вопросам Вам следует связываться с администраторами
            Сторонних сайтов;</p>

        <p>• Доступностью, использованием и/или раскрытием любой информации или Сообщений или любых материалов,
            предоставленных Вами Симплфиту неуполномоченными третьими лицами;</p>

        <p>• Всеми гарантиями и обязательствами, на которые распространяется настоящее условие.</p>

        <p>4. Симплфит не гарантирует, что работа Сайта будет непрерывной и безошибочной.</p>
    </div>

    <h2 class="mb15">Расторжение</h2>

    <div class="clearfix">

        <p>1. Симплфит имеет право расторгнуть настоящее Соглашение и немедленно прекратить доступ к Сайту в случае
            нарушения Вами любого условия настоящих Правил. Также соглашение может быть немедленно расторгнуто любой
            стороной по ее усмотрению.</p>

        <p>2. Расторжение договора не повлияет на права, полученные Сторонами в период действия Соглашения.</p>

        <p>3. Симплфит не будет нести ответственность в случае невозможность выполнить обязанности по Соглашению,
            если такая невозможность наступила в результате непредвиденных обстоятельств, находящихся вне разумного
            контроля Сторон, включая в том числе неполадки в работе сети Интернет, средств связи, пожары, боевые
            действия, наводнения или иные стихийные бедствия.</p>

    </div>

    <h2 class="mb15">Контакты</h2>

    <div class="clearfix">
        <p><b>Телефон:</b> +78432367357, <b>Email:</b> feedback@simplefit.ru</p>
    </div>

</div>
{% endblock %}